.page-template-page-cart h4 {
  font-family: var(--fontEuclidMD);
  font-size: 36px;
  line-height: 44px;
  color: var(--blackcolor);
  margin: 0;
  margin-top: 40px;
}

.page-template-page-cart form.woocommerce-cart-form {
  margin-top: 40px;
}

.page-template-page-cart form.woocommerce-cart-form table,
.page-template-page-cart table.woosl_table {
  background-color: var(--whitecolor);
  border: none;
  outline: none;
}

.page-template-page-cart form.woocommerce-cart-form table thead tr th {
  font-family: var(--fontEuclidSB);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 600;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  thead
  tr
  th.product-thumbnail,
.page-template-page-cart
  form.woocommerce-cart-form
  table
  thead
  tr
  th.product-price,
.page-template-page-cart
  form.woocommerce-cart-form
  table
  thead
  tr
  th.product-quantity,
.page-template-page-cart
  form.woocommerce-cart-form
  table
  thead
  tr
  th.product-subtotal {
  text-align: center;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-thumbnail
  a {
  display: block;
  text-align: center;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-thumbnail
  a
  img {
  max-width: 110px;
  width: 100%;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-name
  a {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
  text-decoration: none;
  display: block;
  max-width: 500px;
  width: 100%;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-price
  span,
.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-subtotal
  span {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--tertiarycolor);
  margin: 0;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-remove
  a {
  display: block;
  margin: 0 auto;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-remove
  a:hover {
  background-color: transparent;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-price,
.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-quantity,
.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-subtotal {
  text-align: center;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-quantity
  .quantity
  label {
  width: 1px;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  div.coupon
  label {
  width: unset;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-quantity
  .quantity
  input {
  max-width: 100px;
  width: 100%;
  background-color: var(--mainBackgroundColor);
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--tertiarycolor);
  margin: 0;
  border: 1px solid #e0e0e0;
  padding: 4px 0;
}

.page-template-page-cart form.woocommerce-cart-form table tbody tr div.coupon {
  display: flex;
  justify-content: space-between;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  div.coupon
  input.input-text {
  width: 45% !important;
  margin: 0 !important;
  padding: 0 !important;
  outline: none !important;
  background-color: var(--mainBackgroundColor);
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--tertiarycolor);
  border: 1px solid #e0e0e0 !important;
  padding: 4px 10px !important;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  button.button {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  margin: 0;
  padding: 8px 50px !important;
  border: none;
  outline: none;
  font-weight: 500 !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  button.button:hover {
  background-color: var(--cartBtnHover);
}

.page-template-page-cart .woocommerce .cart-collaterals .cart_totals {
  background-color: var(--whitecolor);
  border: none;
  outline: none;
  padding: 25px 20px;
}

.page-template-page-cart .woocommerce .cart-collaterals .cart_totals h2 {
  font-family: var(--fontEuclidMD);
  font-size: 28px;
  line-height: 36px;
  color: var(--blackcolor);
  margin: 0;
}

.page-template-page-cart .woocommerce .cart-collaterals .cart_totals table {
  margin-top: 20px;
}

.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  table
  tbody
  tr
  th {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 500;
}

.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  table
  tbody
  tr
  td {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
}

.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  table
  tbody
  tr
  td
  ul
  li,
.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  table
  tbody
  tr
  td
  ul
  li
  label,
.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  table
  tbody
  tr
  td
  p {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
}

.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  .wc-proceed-to-checkout {
  padding-bottom: 0;
}

.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  .wc-proceed-to-checkout
  a {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  padding: 10px 0 !important;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-bottom: 0;
  font-weight: 500 !important;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  .wc-proceed-to-checkout
  a:hover {
  background-color: var(--cartBtnHover);
}

.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  table
  tbody
  tr
  td
  form
  select {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  margin: 0;
  padding: 8px 0 !important;
  border: none;
  outline: none;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-name
  dl.variation {
  margin-top: 5px;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-name
  dl.variation
  dt {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  font-weight: 500;
}

.page-template-page-cart
  form.woocommerce-cart-form
  table
  tbody
  tr
  td.product-name
  dl.variation
  dd
  p {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--tertiarycolor);
}

.woocommerce-cart .cart-collaterals .shipping-calculator-button {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--primaryTextcolor);
}

.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  table
  tbody
  tr
  td
  p.form-row:not(:last-child) {
  margin-bottom: 15px;
}

.page-template-page-cart .select2-container--default .select2-selection--single,
.page-template-page-cart .woocommerce form .form-row input.input-text {
  height: unset;
  padding: 6px 6px;
}

.page-template-page-cart
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: unset;
  top: 60%;
  right: 6px;
}

.page-template-page-cart
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered,
.woocommerce form .form-row input.input-text {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
}

.page-template-page-cart .woocommerce form .form-row input.input-text {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding-left: 14px;
}

.page-template-page-cart
  .woocommerce
  form
  .form-row
  input.input-text::placeholder {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
}

.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  table
  tbody
  tr
  td
  p
  button.button {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  padding: 6px 24px !important;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-bottom: 0;
  font-weight: 500 !important;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.page-template-page-cart
  .woocommerce
  .cart-collaterals
  .cart_totals
  table
  tbody
  tr
  td
  p
  button.button:hover {
  background-color: var(--cartBtnHover);
}

/* save for later */

.page-template-page-cart
  table
  tbody
  tr
  td.product-name
  .woosl-btn
  span.woosl-button {
  font-family: var(--fontEuclidLT);
  font-size: 12px;
  line-height: 20px;
  color: var(--blackcolor);
  background-color: #bebebe;
  margin: 0;
  padding: 2px 10px !important;
  border: none;
  outline: none;
  font-weight: 500 !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.page-template-page-cart table.woosl-products thead tr th {
  font-family: var(--fontEuclidSB);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 600;
}

.page-template-page-cart
  table.woosl-products
  thead
  tr
  th
  a.button.woosl_add_all_to_cart_button {
  font-family: var(--fontEuclidMD);
  font-size: 12px;
  line-height: 20px;
  color: var(--whitecolor);
  background-color: var(--blackcolor);
  margin: 0;
  padding: 6px 16px !important;
  border: none;
  outline: none;
  font-weight: 500 !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

/* .page-template-page-cart
  table.woosl-products
  tbody
  tr
  td.woosl-product-image
  img {
  max-width: 110px;
} */

.page-template-page-cart table.woosl-products tbody tr td.woosl-product-name a {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
  text-decoration: none;
  display: block;
  max-width: 500px;
  width: 100%;
}

.page-template-page-cart
  table.woosl-products
  tbody
  tr
  td.woosl-product-name
  ul {
  padding-left: 0;
}

.page-template-page-cart
  table.woosl-products
  tbody
  tr
  td.woosl-product-name
  ul
  li
  span {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--tertiarycolor);
  margin: 0;
}

.page-template-page-cart
  table.woosl-products
  tbody
  tr
  td.woosl-product-price
  ins {
  text-decoration: none;
}

.page-template-page-cart
  table.woosl-products
  tbody
  tr
  td.woosl-product-price
  span.woocommerce-Price-amount.amount {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--tertiarycolor);
  margin: 0;
}

.page-template-page-cart
  table.woosl-products
  tbody
  tr
  td.woosl-product-stock
  p {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--primaryTextcolor);
  margin: 0;
}

.page-template-page-cart table.woosl-products tbody tr td.woosl-product-atc a {
  font-family: var(--fontEuclidMD);
  font-size: 12px;
  line-height: 20px;
  /* color: var(--whitecolor); */
  color: var(--blackcolor);
  /* background-color: var(--blackcolor); */
  background-color: transparent;
  margin: 0;
  padding: 6px 16px !important;
  padding: 0 !important;
  border: none;
  outline: none;
  font-weight: 500 !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  text-align: center;
}

.page-template-page-cart
  table.woosl-products
  tbody
  tr
  td.woosl-product-atc
  a:hover {
  text-decoration: underline;
}

/* end */

@media (max-width: 991px) {
  .page-template-page-cart h4 {
    font-size: 32px;
    line-height: 40px;
  }

  .page-template-page-cart form.woocommerce-cart-form {
    margin-top: 30px;
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.product-thumbnail {
    display: block;
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.product-thumbnail::before {
    content: "";
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.product-thumbnail
    a
    img {
    max-width: 130px;
  }

  .page-template-page-cart form.woocommerce-cart-form table tbody tr td:before {
    font-family: var(--fontEuclidMD);
    font-size: 18px;
    line-height: 26px;
    color: var(--blackcolor);
    font-weight: 500;
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.product-price
    span,
  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.product-subtotal
    span {
    font-size: 18px;
    line-height: 26px;
  }

  .page-template-page-cart form.woocommerce-cart-form table tbody tr {
    position: relative;
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.product-remove {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
  }

  .page-template-page-cart
    .woocommerce
    .cart-collaterals
    .cart_totals
    table
    tbody
    tr
    td:before {
    font-size: 18px;
    line-height: 26px;
  }

  .page-template-page-cart
    .woocommerce
    .cart-collaterals
    .cart_totals
    table
    tbody
    tr
    td {
    font-size: 18px;
    line-height: 26px;
  }

  .page-template-page-cart
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered,
  .woocommerce form .form-row input.input-text {
    text-align: left;
  }

  .page-template-page-cart .woocommerce .cart-collaterals .cart_totals {
    width: 100%;
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    button.button.woosl-btn-all {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.product-name
    a,
  .page-template-page-cart
    table.woosl-products
    tbody
    tr
    td.woosl-product-name
    a {
    max-width: unset;
  }

  .page-template-page-cart table.woosl_table thead tr th {
    display: flex;
    justify-content: space-between;
  }

  .page-template-page-cart
    table.woosl-products
    tbody
    tr
    td.woosl-product-remove::before {
    display: none;
  }

  .page-template-page-cart
    table.woosl-products
    tbody
    tr
    td.woosl-product-image::before {
    display: none;
  }

  .page-template-page-cart
    table.woosl-products
    tbody
    tr
    td.woosl-product-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .page-template-page-cart
    table.woosl-products
    tbody
    tr
    td.woosl-product-image
    img {
    max-width: 110px;
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    button.button.woosl-btn-all {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .page-template-page-cart h4 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
  }

  .page-template-page-cart form.woocommerce-cart-form {
    margin-top: 20px;
  }

  .page-template-page-cart form.woocommerce-cart-form table tbody tr td:before,
  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.product-name
    a,
  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.product-price
    span,
  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.product-subtotal
    span,
  .page-template-page-cart
    .woocommerce
    .cart-collaterals
    .cart_totals
    table
    tbody
    tr
    td:before,
  .page-template-page-cart
    .woocommerce
    .cart-collaterals
    .cart_totals
    table
    tbody
    tr
    td,
  .page-template-page-cart
    table.woosl-products
    tbody
    tr
    td.woosl-product-name
    a {
    font-size: 16px;
    line-height: 24px;
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    button.button {
    padding: 8px 0 !important;
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    button.button.woosl-btn-all {
    margin-top: 10px;
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.actions {
    padding: 20px 12px;
  }

  .page-template-page-cart
    form.woocommerce-cart-form
    table
    tbody
    tr
    td.actions
    div.coupon {
    padding-bottom: 1rem;
  }

  .page-template-page-cart .woocommerce .cart-collaterals .cart_totals h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .page-template-page-cart table.woosl_table thead tr th {
    display: flex;
    justify-content: space-between;
  }

  .page-template-page-cart
    table.woosl-products
    tbody
    tr
    td.woosl-product-remove::before {
    display: none;
  }

  .page-template-page-cart
    table.woosl-products
    tbody
    tr
    td.woosl-product-image::before {
    display: none;
  }

  .page-template-page-cart
    table.woosl-products
    tbody
    tr
    td.woosl-product-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .page-template-page-cart
    table.woosl-products
    tbody
    tr
    td.woosl-product-image
    img {
    max-width: 110px;
  }
}
