.woocommerce ul.products {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 90px;
}

.woocommerce ul.products::before {
  display: none;
}

.woocommerce ul.products li.product {
  /* width: calc(25% - 25px);
  margin: 0;
  background-color: var(--whitecolor);
  padding: 2rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px; */
  width: 100% !important;
  height: 100%;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 4px;
  align-content: stretch;
  margin: 0 !important;
}

.woocommerce ul.products li.product .onsale {
  display: none;
}

/* product hover image */

.woocommerce ul.products li.product img.attachment-woocommerce_thumbnail {
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.woocommerce ul.products li.product img.thumbnail-hover-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.woocommerce ul.products li.product:hover img.thumbnail-hover-img {
  opacity: 1;
  visibility: visible;
}

/* end */

.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.woocommerce ul.products li.product .price {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--primaryTextcolor);
  opacity: 1;
  font-weight: 500;
}

.woocommerce ul.products li.product .price del {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  opacity: 1;
  font-weight: 500;
}

.woocommerce ul.products li.product .price ins {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--pricecolor);
  text-decoration: none;
  font-weight: 500;
}

.woocommerce ul.products li.product .button {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  padding: 8px 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-weight: 500;
  border: 2px solid var(--blackcolor);
  background-color: transparent;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

.woocommerce ul.products li.product .button:hover {
  color: #6b6b6b;
  border-color: #6b6b6b;
}

.categories-selection {
  /* margin-top: 10px; */
  padding: 20px 0;
  border-bottom: 1px solid #bebebe;
}

.categories-selection a {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  background-color: var(--whitecolor);
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50px;
  border: none;
  outline: none;
  text-decoration: none;
}

.categories-selection a:not(:last-child) {
  margin-right: 5px;
}

.woocommerce ul.products li.product .star-rating,
.woocommerce ul.products li.product .price {
  display: inline-block;
  margin: 0;
}

.woocommerce ul.products li.product .star-rating {
  float: right;
  margin-top: 5px;
}

.woocommerce ul.products li.product .star-rating span::before {
  color: var(--blackcolor);
}

.woocommerce
  ul.products
  li.product
  a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
  display: block;
  position: relative;
}

.product-filter > div.wpfMainWrapper {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}

.product-filter > div.wpfMainWrapper > div.wpfFilterWrapper {
  min-width: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  margin-right: 35px !important;
}

.product-filter > div.wpfMainWrapper > div.wpfFilterWrapper .wpfFilterTitle {
  display: flex;
  align-items: center;
}

.product-filter
  > div.wpfMainWrapper
  > div.wpfFilterWrapper
  .wpfFilterTitle
  div.wfpTitle {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  font-weight: 500;
}

.product-filter
  > div.wpfMainWrapper
  > div.wpfFilterWrapper
  .wpfFilterTitle
  .fa-plus:before {
  content: url("../images/arrow-down.svg");
  padding-left: 10px;
}

.product-filter
  > div.wpfMainWrapper
  > div.wpfFilterWrapper
  .wpfFilterTitle
  .fa-minus:before {
  content: url("../images/arrow-up.svg");
  padding-left: 10px;
}

.product-filter
  > div.wpfMainWrapper
  > div.wpfFilterWrapper
  div.wpfFilterContent {
  position: absolute;
  top: 180%;
  background-color: var(--whitecolor);
  min-width: 210px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 3.2rem 3.2rem rgba(0, 0, 0, 0.17);
  z-index: 1;
}

.product-filter
  > div.wpfMainWrapper
  > div.wpfFilterWrapper
  div.wpfFilterContent
  > div.wpfCheckboxHier {
  padding: 1.8rem;
}

.product-filter
  > div.wpfMainWrapper
  > div.wpfFilterWrapper
  div.wpfFilterContent
  > div.wpfCheckboxHier
  > ul {
  width: 100%;
}

.product-filter
  > div.wpfMainWrapper
  > div.wpfFilterWrapper
  div.wpfFilterContent
  > div.wpfCheckboxHier
  > ul
  li {
  width: 100% !important;
}

.product-filter
  > div.wpfMainWrapper
  > div.wpfFilterWrapper
  div.wpfFilterContent
  > div.wpfCheckboxHier
  > ul
  li:not(:last-child) {
  margin-bottom: 15px;
}

.product-filter
  > div.wpfMainWrapper
  > div.wpfFilterWrapper
  div.wpfFilterContent
  > div.wpfCheckboxHier
  > ul
  > li
  label
  span.wpfDisplay
  div.wpfFilterTaxNameWrapper {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
}

/* animated filter */

.wpfBlockAnimated.wpfHide {
  transition: max-height 0.3s ease-in !important;
  -webkit-transition: max-height 0.3s ease-in !important;
  -moz-transition: max-height 0.3s ease-in !important;
  -ms-transition: max-height 0.3s ease-in !important;
  -o-transition: max-height 0.3s ease-in !important;
}

.wpfBlockAnimated {
  transition: max-height 0.4s ease-in !important;
  -webkit-transition: max-height 0.4s ease-in !important;
  -moz-transition: max-height 0.4s ease-in !important;
  -ms-transition: max-height 0.4s ease-in !important;
  -o-transition: max-height 0.4s ease-in !important;
}

/* .product-filter > div.wpfMainWrapper > div.wpfFilterButtons {
  min-width: auto;
  width: 100%;
  margin-top: 20px;
} */

.product-filter
  > div.wpfMainWrapper
  > div.wpfFilterButtons
  button.wpfClearButton.wpfButton {
  font-family: var(--fontEuclidMD);
  font-size: 12px;
  line-height: 20px;
  color: var(--blackcolor);
  background-color: var(--whitecolor);
  min-height: auto;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-transform: none;
  width: auto;
  font-weight: 500;
  padding: 2px 16px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.woocommerce .woocommerce-ordering select {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  background: transparent;
  border: 1px solid #bebebe;
  padding: 6px 8px;
  outline: none;
  border-radius: 4px;
}

.woocommerce .woocommerce-ordering select::-ms-expand {
  display: none;
}

@media (max-width: 1399px) {
  .woocommerce ul.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 991px) {
  .woocommerce ul.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
  }

  .woocommerce
    .woocommerce-products-header
    h1.woocommerce-products-header__title.page-title {
    font-size: 32px;
    line-height: 40px;
  }

  .product-filter
    > div.wpfMainWrapper
    > div.wpfFilterWrapper
    .wpfFilterTitle
    div.wfpTitle {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .woocommerce
    .woocommerce-products-header
    h1.woocommerce-products-header__title.page-title {
    font-size: 28px;
    line-height: 36px;
    margin-top: 5px;
  }

  .categories-selection {
    overflow-x: scroll;
    display: flex;
    width: 100%;
    max-width: 100vw;
    gap: 1rem;
    padding: 15px 0;
  }

  .categories-selection a:not(:last-child) {
    margin-right: 0;
  }

  .categories-selection a {
    white-space: nowrap;
  }

  .woocommerce ul.products {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-filter > div.wpfMainWrapper {
    flex-direction: column;
  }

  .product-filter > div.wpfMainWrapper > div.wpfFilterWrapper {
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }
}
