.checkout {
  margin-top: 40px;
}

.checkout h3,
.checkout h3 span {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--primaryTextcolor);
  margin: 0;
  margin-bottom: 20px;
}

.checkout h3#order_review_heading {
  margin-top: 30px;
}

/* .checkout .woocommerce-billing-fields__field-wrapper,
.checkout .woocommerce-additional-fields,
.checkout .shipping_address {
  margin-top: 20px;
} */

.checkout .woocommerce-billing-fields__field-wrapper p,
.checkout .woocommerce-shipping-fields p {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.checkout .woocommerce-billing-fields__field-wrapper label,
.checkout .woocommerce-shipping-fields label,
.checkout .woocommerce-additional-fields label {
  font-family: var(--fontEuclidLT);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
}

.checkout .woocommerce-billing-fields__field-wrapper input,
.checkout .woocommerce-shipping-fields input {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
  margin: 0 !important;
  padding: 6px 12px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.checkout .woocommerce-billing-fields__field-wrapper input::placeholder,
.checkout .woocommerce-shipping-fields input::placeholder {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
}

.checkout .woocommerce-additional-fields textarea {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
  margin: 0 !important;
  padding: 6px 12px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.checkout .woocommerce-additional-fields textarea::placeholder {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
}

.checkout
  .woocommerce-billing-fields__field-wrapper
  p
  .select2-container
  .select2-selection--single,
.checkout
  .woocommerce-shipping-fields
  p
  .select2-container
  .select2-selection--single {
  background-color: var(--whitecolor);
  border: 1px solid #bebebe;
  border-radius: 4px;
  height: unset;
  margin: 0;
}

.checkout
  .woocommerce-billing-fields__field-wrapper
  p
  .select2-container
  .select2-selection--single
  span.select2-selection__rendered,
.checkout
  .woocommerce-shipping-fields
  p
  .select2-selection--single
  span.select2-selection__rendered {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
  margin: 0;
  padding: 6px 12px;
}

.checkout
  .woocommerce-billing-fields__field-wrapper
  p
  .select2-container
  .select2-selection--single
  span.select2-selection__arrow,
.checkout
  .woocommerce-shipping-fields
  p
  .select2-container
  .select2-selection--single
  span.select2-selection__arrow {
  height: unset;
  right: 6px;
  top: 50%;
}

.checkout .order_review_heading {
  margin-top: 40px;
}

.checkout #order_review table {
  border: 1px solid #bebebe;
}

.checkout #order_review table thead tr th {
  font-family: var(--fontEuclidMD);
  font-size: 22px;
  line-height: 30px;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 500;
}

.checkout #order_review table tbody tr td {
  font-family: var(--fontEuclidLT);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
}

.checkout #order_review table tfoot tr th,
.checkout #order_review table tfoot tr td span,
.checkout #order_review table tfoot tr td label {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 500;
}

.checkout #order_review #payment label,
.checkout #order_review #payment label span,
.checkout #order_review #payment p {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  padding: 6px 24px !important;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-bottom: 0;
  font-weight: 500 !important;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  margin-top: 20px;
}

.woocommerce #payment #place_order:hover,
.woocommerce-page #payment #place_order:hover {
  background-color: var(--cartBtnHover);
}

.woocommerce form.checkout_coupon {
  border: 1px solid #bebebe;
}

.woocommerce form.checkout_coupon p {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
}

.woocommerce form.checkout_coupon p input {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
  margin: 0 !important;
  padding: 6px 12px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.woocommerce form.checkout_coupon p input:placeholder {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
}

.woocommerce form.checkout_coupon p button.button {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  padding: 6px 24px !important;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-bottom: 0;
  font-weight: 500 !important;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.woocommerce form.checkout_coupon p button.button:hover {
  background-color: var(--cartBtnHover);
}

/* checkout page form if user is not logged in and try to access the page then form show */

.custom-checkout-form {
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.custom-checkout-form label {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  margin-bottom: 8px;
}

.custom-checkout-form input {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
  margin: 0 !important;
  padding: 6px 12px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.custom-checkout-form input::placeholder {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
}

.custom-checkout-form span.show-password-input {
  top: unset;
}

.custom-checkout-form label.woocommerce-form-login__rememberme {
  display: block !important;
}

.custom-checkout-form button.woocommerce-form-login__submit {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  padding: 6px 24px !important;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-bottom: 0;
  font-weight: 500 !important;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  margin-top: 20px;
  margin-right: 0 !important;
  float: unset !important;
}

.custom-checkout-form button.woocommerce-form-login__submit:hover {
  background-color: var(--cartBtnHover);
  color: var(--whitecolor);
}

.custom-checkout-form p.lost_password a {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--primaryTextcolor);
  text-decoration: underline;
}

.custom-checkout-form p.lost_password a:hover {
  text-decoration: underline;
}

/* end */

@media (max-width: 991px) {
  .checkout {
    margin-top: 30px;
  }

  .checkout h3,
  .checkout h3 span {
    font-size: 28px;
    line-height: 36px;
  }

  .checkout h3#ship-to-different-address {
    margin-top: 20px;
  }

  .checkout #order_review table thead tr th {
    font-size: 20px;
    line-height: 28px;
  }

  .checkout #order_review table tbody tr td,
  .checkout #order_review table tfoot tr th,
  .checkout #order_review table tfoot tr td span,
  .checkout #order_review table tfoot tr td label,
  .woocommerce #payment #place_order,
  .woocommerce-page #payment #place_order {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .woocommerce form.checkout_coupon {
    margin: 1em 0;
  }

  .checkout,
  .checkout h3#order_review_heading {
    margin-top: 20px;
  }

  .checkout h3,
  .checkout h3 span {
    font-size: 24px;
    line-height: 32px;
  }

  .checkout .woocommerce-billing-fields__field-wrapper label,
  .checkout .woocommerce-shipping-fields label,
  .checkout .woocommerce-additional-fields label {
    font-size: 16px;
    line-height: 24px;
  }

  .checkout #order_review table thead tr th {
    font-size: 16px;
    line-height: 24px;
  }
}
