* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainBackgroundColor);
}

section {
  margin-top: 80px;
}

.primary_button {
  display: inline-block;
  font-family: var(--fontEuclidMD);
  font-size: 15px;
  line-height: 22px;
  color: var(--whitecolor);
  text-align: center;
  background-color: var(--blackcolor);
  border-radius: 100px;
  padding: 11px 22px;
  text-decoration: none;
  outline: none;
  border: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.primary_button:hover {
  color: var(--whitecolor);
}

.secondary_button {
  display: inline-block;
  font-family: var(--fontEuclidMD);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: var(--whitecolor);
  text-align: center;
  background-color: transparent;
  border-radius: 100px;
  padding: 11px 22px;
  text-decoration: none;
  outline: none;
  border: none;
  border: 1px solid var(--whitecolor);
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.secondary_button:hover {
  color: var(--whitecolor);
}

.tertiary_button {
  display: inline-block;
  font-family: var(--fontEuclidMD);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: var(--blackcolor);
  text-align: center;
  background-color: transparent;
  border-radius: 100px;
  padding: 12px 28px;
  text-decoration: none;
  outline: none;
  border: none;
  border: 1px solid var(--blackcolor);
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.tertiary_button:hover {
  color: var(--blackcolor);
}

.woocommerce .woocommerce-breadcrumb {
  margin-top: 1em;
  font-family: var(--fontEuclidMD);
  font-size: 12px;
  line-height: 20px;
  color: var(--blackcolor);
  /* margin-left: 5px; */
}

.woocommerce .woocommerce-breadcrumb a {
  font-family: var(--fontEuclidMD);
  font-size: 12px;
  line-height: 20px;
  color: var(--blackcolor);
  text-decoration: none;
  /* margin-right: 5px; */
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

/* .woocommerce .woocommerce-breadcrumb a:not(:first-child) {
  margin-left: 5px;
} */

.woocommerce .woocommerce-breadcrumb a:hover {
  color: var(--primaryTextcolor);
}

.woocommerce
  .woocommerce-products-header
  h1.woocommerce-products-header__title.page-title {
  font-family: var(--fontEuclidMD);
  font-size: 40px;
  line-height: 48px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce-notices-wrapper,
.woocommerce-no-products-found {
  margin-top: 20px;
}

.woocommerce-info {
  border-top-color: var(--primaryTextcolor);
}

.woocommerce-info::before {
  color: var(--primaryTextcolor);
}

.woocommerce-notices-wrapper div.woocommerce-message,
.woocommerce-no-products-found div.woocommerce-info,
div.cart-empty,
.woocommerce-info,
div.woocommerce-message {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  border-top-color: var(--primaryTextcolor);
}

.woocommerce-info a {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: var(--primaryTextcolor);
}

.woocommerce-error li,
.woocommerce-info li,
.woocommerce-message li {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce-notices-wrapper div.woocommerce-message::before,
.woocommerce-no-products-found div.woocommerce-info::before,
div.cart-empty::before,
div.woocommerce-message::before {
  color: var(--primaryTextcolor);
}

.woocommerce p.return-to-shop {
  margin: 0;
  margin-top: 20px;
}

.woocommerce p.return-to-shop a.button,
.woocommerce-notices-wrapper div.woocommerce-message a {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  margin: 0;
  padding: 8px 50px !important;
  border: none;
  outline: none;
  font-weight: 500 !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.woocommerce p.return-to-shop a.button:hover,
.woocommerce-notices-wrapper div.woocommerce-message a:hover {
  color: var(--whitecolor);
  background-color: var(--cartBtnHover);
}

.woocommerce-result-count {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0 !important;
  text-align: right;
}

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  float: inherit;
}

/* .related.products {
  display: none;
} */

/* side cart css */

.xoo-wsch-text,
.xoo-wsc-empty-cart > a,
.xoo-wsc-ft-buttons-cont a.xoo-wsc-ft-btn:only-child,
span.xoo-wsc-pname a,
.xoo-wsc-ft-amt,
.xoo-wsc-ft-buttons-cont a.xoo-wsc-ft-btn,
.xoo-wsc-container .xoo-wsc-btn {
  font-family: var(--fontEuclidMD);
  font-weight: 500;
}

span.xoo-wsc-pname a {
  text-decoration: none;
}

span.xoo-wsc-pname a:hover {
  color: var(--blackcolor);
  text-decoration: underline;
}

.xoo-wsc-empty-cart > span.primary_buttonspan.xoo-wsc-footer-txt,
.xoo-wsc-qty-price,
.xoo-wsc-footer-txt {
  font-family: var(--fontEuclidLT);
}

.woocommerce-breadcrumb.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

/* end */

/* @media only screen and (max-width: 2047px) and (min-width: 1499px) {
  .container {
    max-width: 1920px;
    max-width: calc(100% - 120px);
    width: 100%;
  }
} */

/* @media only screen and (max-width: 1699px) and (min-width: 1599px) {
  .container {
    max-width: 1480px;
  }
}

@media only screen and (max-width: 1799px) and (min-width: 1699px) {
  .container {
    max-width: 1560px;
  }
}

@media only screen and (max-width: 1920px) and (min-width: 1799px) {
  .container {
    max-width: 1620px;
  }
} */

/* @media (min-width: 1440px) {
  header.header nav.um-mega-menu nav.ubermenu {
    max-width: 1320px;
    width: 100%;
  }
} */

/* ajax search results */

.is-ajax-search-result {
  max-width: 388px !important;
  width: 100% !important;
  padding: 0 !important;
  border: 1px solid #bebebe !important;
  z-index: 999 !important;
}

.is-ajax-term-label {
  font-family: var(--fontEuclidLT);
  font-size: 10px;
  line-height: 18px;
  color: var(--tertiarycolor);
}

.is-ajax-search-categories .is-ajax-search-post .is-title a {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--primaryTextcolor);
}

.is-search-sections {
  display: flex;
}

.is-ajax-search-posts .is-search-sections .is-title a {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  text-decoration: none;
}

.is-ajax-search-posts .is-search-sections .meta .is-meta-category {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  text-decoration: none;
}

.is-ajax-search-posts
  .is-search-sections
  .meta
  .is-meta-category
  .is-cat-links
  a {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--primaryTextcolor);
  text-decoration: none;
}

.is-ajax-search-items .is-prices .amount,
.is-ajax-search-items .is-prices del .amount {
  font-family: var(--fontEuclid);
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--blackcolor);
  font-weight: 400 !important;
}

.is-ajax-search-items .is-prices del .amount {
  font-size: 14px !important;
  line-height: 22px !important;
  opacity: 1;
}

.is-ajax-search-details {
  display: none !important;
}

/* end */

/* hide categories from header navi */

.hide-cat-fn {
  display: none !important;
}

/* end */

/* error page */

.error-page-content {
  margin-top: 50px;
}

.error-page-content h4 {
  font-family: var(--fontEuclidMD);
  font-size: 40px;
  line-height: 48px;
  color: var(--blackcolor);
  margin: 0;
}

.error-page-content p {
  font-family: var(--fontEuclidMD);
  font-size: 20px;
  line-height: 20px;
  color: var(--blackcolor);
  margin: 0;
  margin-top: 15px;
}

.error-btn {
  display: inline-block;
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  text-align: center;
  background-color: var(--primaryTextcolor);
  border-radius: 100px;
  padding: 11px 22px;
  text-decoration: none;
  outline: none;
  border: none;
  border: 2px solid var(--primaryTextcolor);
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.error-btn:hover {
  color: var(--whitecolor);
}

.error-btn2 {
  display: inline-block;
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--primaryTextcolor);
  text-align: center;
  background-color: transparent;
  border-radius: 100px;
  padding: 11px 22px;
  text-decoration: none;
  outline: none;
  border: none;
  border: 2px solid var(--primaryTextcolor);
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.error-btn2:hover {
  color: var(--primaryTextcolor);
}

.err-mr {
  margin-right: 20px;
}

/* end */

/* pagination */

.woocommerce-pagination ul.page-numbers li a.page-numbers {
  color: var(--primaryTextcolor);
}

/* end */

@media (max-width: 991px) {
  .error-page-content h4 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .error-page-content {
    margin-top: 40px;
  }

  .error-page-content h4 {
    font-size: 28px;
    line-height: 36px;
  }

  .error-page-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .woocommerce-result-count {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
  }

  body .is-ajax-search-result {
    max-width: unset !important;
    max-width: 370px !important;
    width: 100% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
  }
}

@media (max-width: 509px) {
  body .is-ajax-search-result {
    max-width: unset !important;
    max-width: 370px !important;
    width: 100% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
  }
}
