@font-face {
  font-family: EuclidMD;
  src: url("../fonts/EuclidCircularMedium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Euclid;
  src: url("../fonts/EuclidCircularRegular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: EuclidLT;
  src: url("../fonts/EuclidCircularLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: EuclidSB;
  src: url("../fonts/EuclidCircularSemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: EuclidB;
  src: url("../fonts/EuclidCircularBold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --fontEuclidMD: EuclidMD;
  --fontEuclid: Euclid;
  --fontEuclidLT: EuclidLT;
  --fontEuclidSB: EuclidSB;
  --fontEuclidB: EuclidB;
  --mainBackgroundColor: rgba(240, 240, 240, 1);
  --whitecolor: #fff;
  --blackcolor: #000;
  --primaryTextcolor: #1A8163;
  --secondaryTextcolor: #6b6b6b;
  --warrantyBanner: #00A977;
  --tertiarycolor: #6B6B6B;
  --virtualDemoColor: #00A977;
  --pricecolor: #c75001;
  --cartBtnHover: #0a3728;
}