footer {
  background-color: #fafafa;
  padding: 85px 0;
  margin-top: 80px;
}

footer h6 {
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: var(--primaryTextcolor);
  margin: 0;
  margin-bottom: 16px;
}

footer h6.last {
  margin-top: 32px;
}

footer ul {
  padding-left: 0;
  margin-bottom: 0;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  text-decoration: none;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

footer ul li a:hover {
  color: var(--primaryTextcolor);
}

footer h4 {
  font-family: var(--fontEuclidSB) !important;
  font-size: 24px !important;
  line-height: 32px !important;
  color: var(--blackcolor) !important;
  margin: 0 !important;
  margin-bottom: 32px !important;
}

footer h5 {
  font-family: var(--fontEuclidMD);
  font-size: 20px;
  line-height: 28px;
  color: var(--blackcolor);
  margin: 0;
}

footer h5 a {
  color: var(--blackcolor);
  text-decoration: none;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

footer h5 a:hover {
  color: var(--primaryTextcolor);
}

footer a.primary_button {
  display: inline-block;
  margin-bottom: 24px;
  transition: .2s ease-in all;
  -webkit-transition: .2s ease-in all;
  -moz-transition: .2s ease-in all;
  -ms-transition: .2s ease-in all;
  -o-transition: .2s ease-in all;
}

footer a.primary_button:hover {
  background-color: var(--cartBtnHover);
}

footer .footer-icons {
  margin-top: 80px;
}

footer .footer-icons a {
  display: inline-block;
}

footer .footer-icons a svg g path,
footer .footer-icons a svg path {
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

footer .footer-icons a svg:hover g path,
footer .footer-icons a svg:hover path {
  fill: var(--primaryTextcolor);
}

footer .footer-icons a:not(:last-child) {
  margin-right: 24px;
}

footer .row .row:nth-child(2) {
  margin-top: 48px;
}

footer .row .row:nth-child(2) .footer-copyrights p {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  margin: 0;
}

footer .row .row:nth-child(2) .footer-address p {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--secondaryTextcolor);
  margin: 0;
}

footer .row .row:nth-child(3) {
  margin-top: 48px;
}

footer .footer-policies-details {
  border-top: 1px solid var(--tertiarycolor);
}

footer .footer-policies-details p {
  font-family: var(--fontEuclid);
  font-size: 12px;
  line-height: 20px;
  color: var(--secondaryTextcolor);
  margin: 0;
  padding-top: 25px;
}

.country-selector {
  margin-top: 30px;
}

.country-selector a {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  margin: 0;
  display: inline-block;
  background: #f0f0f0;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 12px 14px;
  text-decoration: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.country-selector a svg {
  width: 16px;
}

.country-selector a svg:first-child {
  margin-right: 10px;
}

.country-selector a svg:nth-child(2) {
  margin-left: 20px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.country-selector a:hover svg:nth-child(2) {
  transform: translate(20%, -15%);
}

@media (max-width: 991px) {
  footer {
    padding: 60px 0;
  }

  .page-template-page-cart h4 {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  footer h6 {
    background-color: var(--whitecolor);
    padding: 12px 12px;
    color: var(--blackcolor);
  }

  footer h6::after {
    content: url("../images/footer-down-arrow.png");
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
  }

  footer h6.open::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  footer ul {
    padding-left: 0.8rem;
    margin-bottom: 16px;
  }

  footer ul li:not(:last-child) {
    margin-bottom: 6px;
  }

  footer h6.last {
    margin-top: 0;
  }

  footer div.menu,
  footer .menu-footer-menu-3-container {
    display: none;
  }

  footer h4 {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  footer a.primary_button {
    margin-bottom: 20px;
  }

  footer .footer-icons {
    margin-top: 16px;
  }

  footer .row .row:nth-child(2) {
    margin-top: 24px;
  }

  footer .row .row:nth-child(2) .col-md-5:first-child {
    margin-bottom: 16px;
  }

  footer .footer-policies-details p {
    padding-top: 16px;
  }

  footer {
    margin-top: 60px;
    padding: 24px 0;
  }
}
