.woocommerce #customer_login h2 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--primaryTextcolor);
  margin: 0;
}

.woocommerce #customer_login svg {
  width: 100%;
}

.woocommerce #customer_login .cf-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.woocommerce #customer_login .cf-form.cffl {
  margin-top: 30px;
}

.woocommerce #customer_login .cf-form.cffr {
  margin-top: 30px;
}

.woocommerce #customer_login .cf-form.cffr h2 {
  padding-top: 15px;
}

.woocommerce #customer_login ul.nav {
  max-width: 300px;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #bebebe;
}

.woocommerce #customer_login ul.nav li.nav-item {
  width: 50%;
}

.woocommerce #customer_login ul.nav li.nav-item button {
  width: 100%;
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.woocommerce #customer_login ul.nav li.nav-item button.active {
  width: 100%;
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--whitecolor);
  margin: 0;
  background-color: var(--primaryTextcolor);
}

.woocommerce form.login,
.woocommerce form.register {
  border: 1px solid #bebebe;
  padding: 25px 20px;
  margin: 2em 0;
  margin-bottom: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.woocommerce form label {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px !important;
  color: var(--blackcolor);
  width: 100%;
  margin-bottom: 8px;
}

.woocommerce form label span {
  font-family: var(--fontEuclidLT);
}

.woocommerce form input {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
  width: 100% !important;
  border: 1px solid #bebebe;
  border-radius: 4px;
  padding: 6px 12px;
  outline: none !important;
}

.woocommerce form input::placeholder {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px !important;
  color: var(--blackcolor);
}

.woocommerce form input[type="checkbox"] {
  width: unset !important;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
.woocommerce .woocommerce-form-register .woocommerce-form-register__submit {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  padding: 6px 24px !important;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-bottom: 0;
  font-weight: 500 !important;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  margin: 0;
  margin-top: 20px;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover,
.woocommerce
  .woocommerce-form-register
  .woocommerce-form-register__submit:hover {
  background-color: var(--cartBtnHover);
  color: var(--whitecolor);
}

.woocommerce .woocommerce-LostPassword.lost_password {
  margin: 0;
}

.woocommerce .woocommerce-LostPassword.lost_password a {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--primaryTextcolor);
  text-decoration: underline;
}

.woocommerce .woocommerce-LostPassword.lost_password a:hover {
  text-decoration: underline;
}

.woocommerce #customer_login form .form-row {
  padding: 0;
  margin: 0;
}

.woocommerce #customer_login form .form-row:not(:last-child) {
  margin-bottom: 20px;
}

.woocommerce form .show-password-input,
.woocommerce-page form .show-password-input {
  top: unset;
}

.woocommerce form .woocommerce-privacy-policy-text p {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  margin: 0;
}

@media (max-width: 991px) {
  .woocommerce #customer_login h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .woocommerce form.login,
  .woocommerce form.register {
    margin-top: 1.5em;
  }
}

@media (max-width: 768px) {
  .woocommerce #customer_login .cf-form {
    flex-direction: column;
  }

  .woocommerce #customer_login .cf-form .svg {
    display: none;
  }

  .woocommerce #customer_login h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .woocommerce form.login,
  .woocommerce form.register {
    margin-top: 1em;
  }

  .woocommerce form.login,
  .woocommerce form.register {
    padding: 25px 16px;
  }

  /* .woocommerce #customer_login .u-column2.col-2 {
    margin-top: 40px;
  } */

  .woocommerce #customer_login ul.nav {
    margin-bottom: 40px;
  }

  .woocommerce #customer_login .cf-form.cffl {
    margin-top: 0;
  }

  .woocommerce #customer_login .cf-form.cffr {
    margin-top: 0;
  }

  .woocommerce #customer_login .cf-form.cffr h2 {
    padding-top: 0;
  }
}
