header.header {
  width: 100%;
  background-color: var(--whitecolor);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

header.header .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  padding-left: 0;
  padding-right: 0;
}

header.header .topbar .left-navi-topbar a {
  font-family: var(--fontEuclid);
  font-size: 12px;
  line-height: 20px;
  color: var(--tertiarycolor);
  display: inline-block;
  text-decoration: none;
}

header.header .topbar .left-navi-topbar a:not(:last-child) {
  margin-right: 15px;
}

header.header .topbar .right-navi-topbar {
  display: flex;
}

header.header .topbar .right-navi-topbar a {
  font-family: var(--fontEuclid);
  font-size: 12px;
  line-height: 20px;
  color: var(--tertiarycolor);
  display: inline-block;
  text-decoration: none;
  display: flex;
  align-items: center;
}

header.header .topbar .right-navi-topbar a svg {
  max-width: 16px;
  width: 100%;
  margin-right: 5px;
}

header.header .topbar .right-navi-topbar a:not(:last-child) {
  margin-right: 15px;
}

header.header .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

header.header .main-header .search-bar form {
  min-width: 390px;
  width: 100%;
  padding: 2px 20px !important;
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: #949494;
  border: 2px solid #949494;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

header.header .main-header .search-bar form label {
  margin: 0 !important;
}

header.header .main-header .search-bar input {
  min-width: 390px;
  width: 100%;
  padding: 10px 20px;
  font-family: var(--fontEuclid);
  font-size: 16px !important;
  line-height: 24px !important;
  color: #949494;
  border: 2px solid #949494;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

header.header .main-header .search-bar input::placeholder,
header.header .main-header .search-bar form input.is-search-input::placeholder {
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: #949494;
}

header.header .main-header .search-bar form input.is-search-input {
  min-width: auto;
  width: 100%;
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: #949494;
  padding: 10px 0;
  outline: none;
  border: none !important;
}

header.header
  .main-header
  .search-bar
  form
  button.is-search-submit
  span.is-search-icon {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0 !important;
  margin: 0;
  display: flex !important;
  justify-content: end;
  align-items: center;
}

header.header
  .main-header
  .search-bar
  form
  button.is-search-submit
  span.is-search-icon
  svg {
  width: 30px;
}

.is-form-style .is-search-submit path {
  fill: #949494;
}

/* mobile responsive search bar */

header.header .mob-search-bar form {
  /* min-width: 390px; */
  width: 100%;
  padding: 2px 20px !important;
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: #949494;
  border: 2px solid #949494;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

header.header .mob-search-bar form label {
  margin: 0 !important;
}

header.header .mob-search-bar input {
  min-width: 390px;
  width: 100%;
  padding: 10px 20px;
  font-family: var(--fontEuclid);
  font-size: 16px !important;
  line-height: 24px !important;
  color: #949494;
  border: 2px solid #949494;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

header.header .mob-search-bar input::placeholder,
header.header .mob-search-bar form input.is-search-input::placeholder {
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: #949494;
}

header.header .mob-search-bar form input.is-search-input {
  min-width: auto;
  width: 100%;
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: #949494;
  padding: 10px 0;
  outline: none;
  border: none !important;
}

header.header .mob-search-bar form button.is-search-submit span.is-search-icon {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0 !important;
  margin: 0;
  display: flex !important;
  justify-content: end;
  align-items: center;
}

header.header
  .mob-search-bar
  form
  button.is-search-submit
  span.is-search-icon
  svg {
  width: 30px;
}

.is-form-style .is-search-submit path {
  fill: #949494;
}

/* end */

header.header .main-header .profile-cart a {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--tertiarycolor);
  display: inline-block;
  text-decoration: none;
}

header.header .main-header .profile-cart a.menu-item.cart-contents {
  position: relative;
}

header.header
  .main-header
  .profile-cart
  a.menu-item.cart-contents
  span.cart-contents-count {
  position: absolute;
  left: 10px;
  /* right: 0; */
  top: -8px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  outline: none;
  font-family: var(--fontEuclid);
  font-size: 10px;
  line-height: 1;
  color: var(--whitecolor);
  background: var(--primaryTextcolor);
}

header.header .main-header .profile-cart a:not(:last-child) {
  margin-right: 24px;
}

/* header.header .main-header .profile-cart a svg path {
  transition: .1s ease-in all;
  -webkit-transition: .1s ease-in all;
  -moz-transition: .1s ease-in all;
  -ms-transition: .1s ease-in all;
  -o-transition: .1s ease-in all;
} */

header.header .main-header .profile-cart a:hover svg path {
  fill: var(--primaryTextcolor);
}

header.header .main-header .profile-cart a svg {
  margin-right: 8px;
}

header.header nav.um-mega-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15px 10px; */
}

header.header nav.um-mega-menu .mob-h-links {
  display: none;
}

header.header nav.um-mega-menu a {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  display: inline-block;
  text-decoration: none;
}

/* header.header nav.um-mega-menu a:not(:last-child) {
  margin-right: 24px;
} */

header.header
  nav.um-mega-menu
  > nav
  > ul.ubermenu-nav
  > li.mob-mm
  > a:not(:last-child) {
  margin-right: 24px;
}

/* uber mega menu --------------------------------------------------- start */

header.header nav.um-mega-menu nav.ubermenu {
  /* max-width: 1320px; */
  width: 100%;
}

/* header.header nav.um-mega-menu nav.ubermenu {
  max-width: 1920px;
  max-width: calc(100% - 120px);
  width: 100%;
} */

header.header nav.um-mega-menu nav.ubermenu ul.ubermenu-nav {
  display: flex;
  justify-content: center;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  .main-mega-menu {
  background-color: var(--whitecolor);
  height: 470px;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  .main-mega-menu.cmmm {
  height: auto;
  margin-bottom: 0;
}

/* header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  ul.ubermenu-submenu
  li.ubermenu-item {
  height: 100%;
} */

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  a {
  width: 100%;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-active {
  background-color: var(--whitecolor);
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-active
  > a::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--warrantyBanner);
  position: absolute;
  left: 0;
  top: 0;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  div.ubermenu-custom-content {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  text-align: left;
  padding: 10px 20px;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group {
  min-height: 260px;
  background-color: var(--mainBackgroundColor);
  border: 0;
  height: 100%;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-1-3 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-1-3
  a
  img {
  margin-left: auto;
  margin-right: auto;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-1-3
  a
  span {
  text-align: center;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-2-3
  div
  ul {
  display: flex;
  flex-wrap: wrap;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-2-3
  div
  ul
  li {
  width: 33.3%;
  text-align: center;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-2-3
  div
  ul
  li.ubermenu-item-type-custom
  div {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  text-align: left;
  padding: 10px 15px;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-2-3
  div
  ul
  li.ubermenu-item-type-custom
  div:hover {
  color: var(--primaryTextcolor);
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-2-3
  div
  ul
  li.ubermenu-item-type-custom,
header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-2-3
  div
  ul
  li.ubermenu-divider {
  width: 100%;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-2-3
  div
  ul
  li.ubermenu-divider {
  padding: 0 0;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-2-3
  div
  ul
  li.ubermenu-divider
  hr {
  width: 100%;
  border: 1px solid #e4e4e4;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-2-3
  div
  ul
  li
  a
  img {
  margin-left: auto;
  margin-right: auto;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-2-3
  div
  ul
  li
  a
  span {
  text-align: center;
}

/* second */

/* header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab:nth-child(2)
  ul.ubermenu-tab-content-panel {
    display: flex;
  } */

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  ul.ubermenu-tabs-group
  li.ubermenu-tab:nth-child(2)
  ul.ubermenu-tab-content-panel
  li.ubermenu-column-1-3
  div
  ul
  li {
  width: 100%;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item-127
  div
  ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 470px;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item-127
  div
  ul
  li {
  width: 25%;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item-127
  div
  ul
  li
  a
  img {
  margin-left: auto;
  margin-right: auto;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item-127
  div
  ul
  li
  a
  span {
  text-align: center;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item-127
  div
  ul
  li
  div.ubermenu-custom-content {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  text-align: left;
  padding: 5px 20px;
  text-align: center;
}

/* third */

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-116
  ul.ubermenu-submenu {
  background-color: var(--whitecolor);
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-116
  ul.ubermenu-submenu
  ul {
  display: flex;
  justify-content: center;
}

/* header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-116
  ul.ubermenu-submenu >
  ul::after {
  display: none;
} */

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-116
  ul.ubermenu-submenu
  ul
  li
  a
  span {
  text-align: center;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-119
  ul.ubermenu-submenu {
  background-color: var(--whitecolor);
  padding: 12px 0;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-119
  ul.ubermenu-submenu
  li {
  min-width: 170px;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-119
  ul.ubermenu-submenu
  li
  a {
  /* width: 100%; */
  padding: 6px 20px;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-119
  ul.ubermenu-submenu
  li
  a
  span {
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-119
  ul.ubermenu-submenu
  li
  a:hover
  span {
  color: var(--primaryTextcolor);
}

/* fourth */

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-ll
  div
  ul:first-child
  li {
  width: 100%;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-ll
  div
  ul:first-child
  li
  a {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  text-align: left;
  padding: 10px 15px;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-ll
  div
  ul:first-child
  li.ubermenu-divider {
  width: 90%;
  padding: 0 0;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-ll
  div
  ul.tools-ld {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-ll
  div
  ul.tools-ld
  li {
  width: 50%;
  text-align: center;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-ll
  div
  ul.tools-ld
  li
  a
  img {
  margin-left: auto;
  margin-right: auto;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-ll
  div
  ul.tools-ld
  li
  a
  span {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  text-align: center;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-lr
  div
  ul.columnss {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-lr
  div
  ul.columnss
  > li {
  width: 33.3%;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-lr
  div
  ul.columnss
  > li
  ul.ubermenu-submenu
  li.ubermenu-item
  ul
  li.custom-title {
  width: 100%;
  margin-top: 0;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-lr
  div
  ul.columnss
  > li
  ul.ubermenu-submenu
  li.ubermenu-item
  ul
  li.custom-title
  a {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  text-align: left;
  padding: 10px 15px;
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li
  ul.ubermenu-submenu
  ul
  li.tools-lr
  div
  ul.columnss
  > li
  ul.ubermenu-submenu
  li.ubermenu-item
  ul
  li.ubermenu-divider {
  width: 90%;
  padding: 0 0;
}

/* uber mega menu --------------------------------------------------- end */

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  > a {
  width: unset;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  > a
  span {
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-item
  > a:hover
  span {
  color: var(--primaryTextcolor);
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.fhumm
  ul.ubermenu-submenu
  li.ubermenu-tab
  > a {
  width: 100%;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-116
  ul.ubermenu-submenu
  li
  a
  span {
  transition: 0.1s ease-in all;
  -webkit-transition: 0.1s ease-in all;
  -moz-transition: 0.1s ease-in all;
  -ms-transition: 0.1s ease-in all;
  -o-transition: 0.1s ease-in all;
}

header.header
  nav.um-mega-menu
  nav.ubermenu
  ul.ubermenu-nav
  li.ubermenu-item-116
  ul.ubermenu-submenu
  li
  a:hover
  span {
  color: var(--primaryTextcolor);
}

/* mob search bar */

header.header .mob-search-bar {
  padding-bottom: 15px;
  display: none;
}

header.header .mob-search-bar input {
  width: 100%;
  padding: 8px 20px;
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: #949494;
  border: 2px solid #949494;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

/* end */

/* extras new link for mob and tabs */

.mob-tb-links {
  display: none !important;
}

/* end */

/* ------------------------------ responsive mobile mega menu ------------------------------ */

@media (max-width: 959px) {
  .mob-tb-links {
    display: block !important;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-tb-links.country
    a.ubermenu-target {
    display: none;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-tb-links
    a.ubermenu-target
    span,
  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-tb-links
    div.ubermenu-content-block.ubermenu-custom-content.ubermenu-custom-content-padded {
    font-family: var(--fontEuclid) !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: var(--blackcolor) !important;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-tb-links
    div.ubermenu-content-block.ubermenu-custom-content.ubermenu-custom-content-padded
    svg {
    max-width: 16px;
  }

  header.header .mob-search-bar {
    display: block;
  }

  header.header nav.um-mega-menu a:not(:last-child) {
    margin-right: 0;
  }

  header.header
    nav.um-mega-menu
    > nav
    > ul.ubermenu-nav
    > li.mob-mm
    > a:not(:last-child) {
    margin-right: 0;
  }

  header.header nav.um-mega-menu {
    justify-content: space-between;
  }

  header.header nav.um-mega-menu .mob-h-links {
    display: block;
  }

  header.header nav.um-mega-menu .mob-h-links a span {
    display: none;
  }

  header.header nav.um-mega-menu .mob-h-links a.cart-contents {
    position: relative;
  }

  header.header nav.um-mega-menu .mob-h-links a span.cart-contents-count {
    display: block;
    position: absolute;
    left: 10px;
    /* right: 0; */
    top: -8px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    font-family: var(--fontEuclid);
    font-size: 10px;
    line-height: 1;
    color: var(--whitecolor);
    background: var(--primaryTextcolor);
  }

  header.header nav.um-mega-menu .mob-h-links {
    display: flex;
  }

  header.header nav.um-mega-menu .mob-h-links a:last-child {
    margin-left: 24px;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal .ubermenu-nav {
    background-color: var(--whitecolor);
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    .ubermenu-nav
    li.mob-mm {
    border-top: 1px solid #e4e4e4;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal {
    height: 100% !important;
    /* top: 51px !important; */
    top: 0 !important;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    a.ubermenu-target
    span {
    font-family: var(--fontEuclid);
    font-size: 16px;
    line-height: 24px;
    color: var(--blackcolor);
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    a.ubermenu-target
    .fa-angle-down:before {
    font-size: 16px;
    color: var(--blackcolor);
  }

  .ubermenu-content-block.ubermenu-custom-content.ubermenu-custom-content-padded {
    font-family: var(--fontEuclidLT);
    font-size: 16px;
    line-height: 24px;
    /* color: var(--blackcolor); */
    color: var(--primaryTextcolor);
  }

  .ubermenu-responsive-default.ubermenu-responsive
    .ubermenu-tab
    > .ubermenu-target {
    border-width: 0 !important;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu {
    /* border-top: 0.5px solid #bebebe;
    border-bottom: 0.5px solid #bebebe; */
    border-left: 0;
    border-right: 0;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu
    li.ubermenu-item
    ul.ubermenu-tabs-group
    li.ubermenu-tab
    ul.ubermenu-tab-content-panel {
    border-width: 0;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu
    li.ubermenu-item
    ul.ubermenu-tabs-group
    li.ubermenu-tab
    ul.ubermenu-tab-content-panel
    li.ubermenu-column-1-3
    a
    img {
    margin-left: auto;
    margin-right: auto;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu
    li.ubermenu-item
    ul.ubermenu-tabs-group
    li.ubermenu-tab
    ul.ubermenu-tab-content-panel
    li.ubermenu-column-1-3
    a
    span {
    text-align: center;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu
    li.ubermenu-item
    ul.ubermenu-tabs-group
    li.ubermenu-tab
    ul.ubermenu-tab-content-panel
    li.ubermenu-column-2-3
    div
    ul {
    margin-bottom: 0;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu
    li.ubermenu-item
    ul.ubermenu-tabs-group
    li.ubermenu-tab
    ul.ubermenu-tab-content-panel
    li.ubermenu-column-2-3
    div
    ul
    li
    a {
    padding: 10px 20px;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu
    li.ubermenu-item
    ul.ubermenu-tabs-group
    li.ubermenu-tab
    ul.ubermenu-tab-content-panel
    li.ubermenu-column-2-3
    div
    ul
    li
    a
    img {
    display: none;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu
    li.ubermenu-item
    ul.ubermenu-tabs-group
    li.ubermenu-tab
    ul.ubermenu-tab-content-panel
    li.ubermenu-column-2-3
    div
    ul
    li.ubermenu-divider {
    display: none;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu
    li.ubermenu-item
    ul.ubermenu-tabs-group
    li.ubermenu-tab
    ul.ubermenu-tab-content-panel
    li.ubermenu-column-1-3
    a {
    border-bottom: 0.5px solid #e4e4e4;
  }

  button.ubermenu-responsive-toggle-align-full {
    padding-left: 0;
    padding-right: 0;
    width: unset !important;
    margin-right: 35px;
  }

  button.ubermenu-responsive-toggle-align-full .fas {
    min-width: 31px;
    width: 100%;
  }

  button.ubermenu-responsive-toggle-align-full .fa-bars:before {
    font-size: 24px;
    content: url("../images/hamburger-menu.svg");
  }

  .ubermenu-responsive-toggle.ubermenu-responsive-toggle-close-icon-times.ubermenu-responsive-toggle-open
    .fas:before {
    content: url("../images/hamburger-menu-close.svg") !important;
  }

  .um-mega-menu .ubermenu-swap-placeholder {
    display: none;
  }

  header.header .topbar {
    display: none;
  }

  header.header .main-header {
    display: none;
  }

  .ubermenu-responsive-default.ubermenu .ubermenu-mobile-footer {
    background-color: var(--whitecolor);
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul
    li
    div.ubermenu-tab-content-panel {
    border: none;
  }

  /* .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal ul.ubermenu-nav li.mob-mm > ul {
    margin-bottom: 0;
  } */

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul
    li
    div.ubermenu-tab-content-panel
    ul
    li
    a
    img {
    margin-left: auto;
    margin-right: auto;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul
    li
    div.ubermenu-tab-content-panel
    ul
    li
    a
    span {
    text-align: center;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul
    li
    div.ubermenu-tab-content-panel
    ul
    li
    div.ubermenu-custom-content-padded {
    color: var(--blackcolor);
    text-align: center;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul
    > ul
    li {
    min-width: 50% !important;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul
    > ul
    li
    a
    img {
    margin-left: auto;
    margin-right: auto;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul
    > ul
    li
    a
    span {
    text-align: center;
  }

  /* .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    a.ubermenu-target
    span.ubermenu-target-title {
    color: var(--primaryTextcolor);
  } */

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm.tam
    > ul
    > ul
    li {
    width: 100%;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm.tam
    > ul
    > ul
    li.tools-ll
    > div.ubermenu-submenu
    ul
    li.ubermenu-divider {
    display: none;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm.tam
    > ul
    > ul
    li.tools-ll
    > div.ubermenu-submenu
    ul.tools-ld {
    display: flex;
    flex-wrap: wrap;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm.tam
    > ul
    > ul
    li.tools-ll
    > div.ubermenu-submenu
    ul.tools-ld
    li {
    width: 50% !important;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm.tam
    .ubermenu-divider {
    display: none;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm.tam
    > ul
    > ul
    li.tools-lr
    > div.ubermenu-submenu
    > ul
    li
    ul
    li:nth-child(2)
    > ul
    li {
    margin: 0;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm.tam
    > ul
    > ul
    li.tools-lr
    > div.ubermenu-submenu
    > ul
    li
    ul
    li:nth-child(2)
    > ul
    li
    a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm.tam
    > ul
    > ul
    li.tools-lr
    > div.ubermenu-submenu
    > ul
    li
    ul
    li:first-child
    ul
    li
    a
    span {
    color: var(--primaryTextcolor);
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm.tam
    > ul
    > ul
    li.tools-ll
    > div.ubermenu-submenu
    ul:first-child
    li
    a
    span {
    color: var(--primaryTextcolor);
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm.dropdown
    > ul
    li
    a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* tab */

  .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-column,
  .ubermenu-responsive-default.ubermenu.ubermenu-responsive
    .ubermenu-column-auto {
    min-width: 100% !important;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu
    li.ubermenu-item
    ul.ubermenu-tabs-group
    li.ubermenu-tab
    ul.ubermenu-tab-content-panel {
    position: static;
    box-shadow: none;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul.ubermenu-submenu {
    position: static;
    box-shadow: none;
  }

  .ubermenu-transition-shift .ubermenu-item .ubermenu-submenu-drop {
    margin-top: 0 !important;
  }

  .ubermenu-responsive-default.ubermenu.ubermenu-mobile-modal
    ul.ubermenu-nav
    li.mob-mm
    > ul
    li
    div.ubermenu-tab-content-panel {
    position: static;
    box-shadow: none;
  }

  /* end */

  /* arrows */

  .ubermenu-sub-indicators
    .ubermenu-has-submenu-drop
    > .ubermenu-target
    > .ubermenu-sub-indicator,
  .ubermenu-responsive-default.ubermenu-responsive.ubermenu-sub-indicators
    .ubermenu-tabs
    > .ubermenu-tabs-group
    > .ubermenu-tab.ubermenu-has-submenu-drop
    > .ubermenu-target
    > .ubermenu-sub-indicator {
    right: 20px !important;
  }

  .ubermenu.ubermenu-submenu-indicator-closes .ubermenu-sub-indicator-close {
    right: 12px !important;
  }

  /* end */
}

/* end */

@media (max-width: 767px) {
  /* header.header {
    display: none;
  } */

  header.header .topbar {
    display: none;
  }

  header.header .main-header {
    display: none;
  }
}
