.trending-banner-section .row > * {
  padding-left: 6px;
  padding-right: 6px;
}

.trending-banner-section h5 {
  font-family: var(--fontEuclidMD);
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.6px;
  color: var(--blackcolor);
  text-align: center;
  margin: 0;
  margin-top: 32px;
}

.trending-banner-section p {
  font-family: var(--fontEuclid);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  text-align: center;
  margin: 0;
  margin-top: 16px;
}

.trending-banner-section div.button-div {
  margin: 0;
  text-align: center;
  margin-top: 80px;
}

.shop-by-category {
  margin-top: 130px;
}

.shop-by-category h4 {
  font-family: var(--fontEuclidMD);
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.6px;
  color: var(--blackcolor);
  text-align: center;
  margin: 0;
}

.shop-by-category .row:nth-child(2) {
  margin-top: 30px;
}

.shop-by-category p {
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: var(--blackcolor);
  text-align: center;
  margin: 0;
}

.warranty-banner {
  margin-top: 60px;
}

.warranty-banner .container {
  background-color: var(--warrantyBanner);
  padding: 32px 0;
}

.warranty-banner h4 {
  font-family: var(--fontEuclidMD);
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -1px;
  color: var(--whitecolor);
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}

.bundle-section {
  margin-top: 0;
}

.bundle-section .container {
  background-color: #fafafa;
}

.bundle-section .container .row .col-lg-5 {
  padding-left: 0;
  padding-right: 0;
}

.bundle-section .container .row:nth-child(even) .col-lg-5:first-child {
  order: 2;
}

.bundle-section .container .row:nth-child(even) .col-lg-5:last-child {
  order: 1;
}

.bundle-section .container .row .col-lg-5 div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 32px;
  text-align: center;
}

.bundle-section .container .row .col-lg-5 div h4 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--blackcolor);
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.bundle-section .container .row .col-lg-5 div p {
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  text-align: center;
  margin: 0;
  margin-bottom: 28px;
}

.virtual-demo .row {
  background-color: var(--virtualDemoColor);
}

.virtual-demo .vd-content {
  padding: 0 16px;
}

.virtual-demo .vd-content h4 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--whitecolor);
  margin: 0;
  margin-bottom: 32px;
}

.virtual-demo .vd-content ul {
  padding-left: 0;
  margin-bottom: 32px;
}

.virtual-demo .vd-content ul li {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.virtual-demo .vd-content ul li::before {
  content: url("../images/white-tick.png");
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.virtual-demo .vd-content ul li:not(:last-child) {
  margin-bottom: 16px;
}

.virtual-demo .vd-content a {
  display: inline-block;
}

.video-section {
  margin-top: 0;
  margin: 60px 0;
}

.video-section video {
  object-fit: cover;
  clip-path: inset(2px 2px);
}

@media (max-width: 991px) {
  .trending-banner-section h5 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
  }

  .trending-banner-section p {
    font-size: 16px;
    line-height: 24px;
  }

  .trending-banner-section div.button-div {
    margin-top: 60px;
  }

  .shop-by-category h4,
  .warranty-banner h4 {
    font-size: 28px;
    line-height: 36px;
  }

  .shop-by-category .row:nth-child(2) .col-6:not(:last-child) {
    margin-bottom: 24px;
  }

  .video-section {
    padding: 40px 0;
  }

  .bundle-section .container .row .col-lg-5 div h4 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 28px;
  }

  .bundle-section .container .row .col-lg-5 div p {
    margin-bottom: 28px;
  }

  .bundle-section .container .row .col-lg-5 div {
    padding: 60px 32px;
  }

  .bundle-section .container .row:nth-child(even) .col-lg-5:first-child {
    order: 1;
  }

  .bundle-section .container .row:nth-child(even) .col-lg-5:last-child {
    order: 2;
  }

  .bundle-section .container .row .col-lg-5 {
    max-width: 500px;
    text-align: center;
  }

  /* .bundle-section .container .row .col-lg-5 img {
    max-width: 500px;
    width: 100%;
  } */

  .virtual-demo .row .col-lg-6:last-child {
    display: none;
  }

  .virtual-demo .vd-content h4 {
    font-size: 28px;
    line-height: 36px;
  }

  .virtual-demo .vd-content {
    background-color: var(--virtualDemoColor);
    padding: 32px 16px;
  }
}

@media (max-width: 767px) {
  section {
    margin-top: 60px;
  }

  .trending-banner-section div.button-div {
    margin-top: 32px;
  }

  .trending-banner-section .row .col-md-4 {
    margin-bottom: 16px;
  }

  .shop-by-category {
    margin-top: 80px;
  }

  .shop-by-category .row:nth-child(2) .col-6:not(:last-child) {
    margin-bottom: 16px;
  }

  .video-section {
    padding: 0 0;
    margin: 40px 0;
  }

  .video-section,
  .bundle-section {
    margin-top: 60px;
  }

  .bundle-section .container .row .col-lg-5 div {
    padding: 70px 35px;
  }

  .warranty-banner,
  .video-section,
  .bundle-section {
    /* padding: 0 12px; */
    margin-left: 12px;
    margin-right: 12px;
  }

  .trending-banner-section .row > * {
    padding-left: 12px;
    padding-right: 12px;
  }

  .warranty-banner h4 {
    padding: 0 20px;
  }

  .bundle-section .container .row .col-lg-5 div h4 {
    margin-bottom: 40px;
  }

  .bundle-section .container .row .col-lg-5 div p {
    margin-bottom: 40px;
  }

  .bundle-section .container .row:nth-child(even) .col-lg-5:first-child {
    order: 1;
  }

  .bundle-section .container .row:nth-child(even) .col-lg-5:last-child {
    order: 2;
  }

  .virtual-demo .row {
    background-color: transparent;
  }

  .virtual-demo .row .col-lg-6:last-child {
    display: none;
  }

  .virtual-demo .vd-content {
    background-color: var(--virtualDemoColor);
    padding: 32px 16px;
  }

  .virtual-demo .vd-content h4 {
    text-align: center;
  }
}
