.custom-lost-psw form p.msg {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--primaryTextcolor);
}

.custom-lost-psw form.woocommerce-ResetPassword.lost_reset_password label {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  margin-bottom: 8px;
}

.custom-lost-psw form.woocommerce-ResetPassword.lost_reset_password input {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
  margin: 0 !important;
  padding: 6px 12px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.custom-lost-psw form.woocommerce-ResetPassword.lost_reset_password input::placeholder {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
}

.custom-lost-psw form.woocommerce-ResetPassword.lost_reset_password button.woocommerce-Button {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  padding: 6px 24px !important;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-bottom: 0;
  font-weight: 500 !important;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  margin-top: 10px;
}

.custom-lost-psw form.woocommerce-ResetPassword.lost_reset_password button.woocommerce-Button:hover {
  background-color: var(--cartBtnHover);
  color: var(--whitecolor);
}
