.my-custom-account {
  margin-top: 80px;
}

.my-custom-account h2 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--blackcolor);
  margin: 0;
  margin-bottom: 40px;
}

.my-custom-account .woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
  background-color: var(--whitecolor);
  padding: 0 0;
  border: 1px solid #bebebe;
  border-radius: 4px;
  width: 85%;
}

.my-custom-account .woocommerce-MyAccount-navigation ul li {
  list-style-type: none;
  padding: 14px 20px;
  position: relative;
}

.my-custom-account .woocommerce-MyAccount-navigation ul li a {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--primaryTextcolor);
  margin: 0;
  text-decoration: none;
}

.my-custom-account .woocommerce-MyAccount-navigation ul li:not(:last-child) {
  /* margin-bottom: 10px; */
  border-bottom: 1px solid #bebebe;
}

.my-custom-account .woocommerce-MyAccount-navigation ul li.is-active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--primaryTextcolor);
}

.my-custom-account .woocommerce-MyAccount-content table.my_account_orders {
  border: 1px solid #bebebe;
  margin: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-spacing: 0;
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  thead {
  background-color: var(--primaryTextcolor);
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  thead
  tr
  th {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--whitecolor);
  margin: 0;
  font-weight: 500;
  padding: 9px 12px;
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  thead
  tr
  th
  span {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--whitecolor);
  margin: 0;
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  tbody
  tr:nth-child(odd) {
  background-color: transparent;
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  tbody
  tr:nth-child(even) {
  background-color: var(--whitecolor);
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  tbody
  tr
  td {
  border-top: 1px solid #bebebe;
  padding: 9px 12px;
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  tbody
  tr
  td
  a {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  text-decoration: none;
  color: var(--primaryTextcolor);
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  tbody
  tr
  td
  a:hover {
  text-decoration: underline;
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  tbody
  tr
  td {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  tbody
  tr
  td
  a.view,
.woocommerce-info a.button.wc-forward {
  font-family: var(--fontEuclidMD);
  font-size: 12px;
  line-height: 20px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  padding: 6px 20px !important;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-bottom: 0;
  font-weight: 500 !important;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  margin: 0;
}

.my-custom-account
  .woocommerce-MyAccount-content
  table.my_account_orders
  tbody
  tr
  td
  a.view:hover,
.woocommerce-info a.button.wc-forward:hover {
  background-color: var(--cartBtnHover);
  color: var(--whitecolor);
  text-decoration: none;
}

.my-custom-account .woocommerce-MyAccount-content p {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
}

.my-custom-account .woocommerce-MyAccount-content p a {
  color: var(--primaryTextcolor);
}

.my-custom-account .woocommerce-MyAccount-content .woocommerce .col2-set,
.woocommerce-page .col2-set {
  margin-top: 30px;
}

.my-custom-account .woocommerce-MyAccount-content .woocommerce .col2-set,
.woocommerce-page .col2-set h3 {
  font-family: var(--fontEuclidMD);
  font-size: 28px;
  line-height: 36px;
  color: var(--primaryTextcolor);
  margin: 0;
}

.my-custom-account .woocommerce-MyAccount-content .woocommerce .col2-set,
.woocommerce-page .col2-set a {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  text-decoration: none;
}

.my-custom-account .woocommerce-MyAccount-content .woocommerce .col2-set,
.woocommerce-page .col2-set a:hover {
  text-decoration: underline;
}

.my-custom-account .woocommerce-MyAccount-content .woocommerce .col2-set,
.woocommerce-page .col2-set address {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  margin-top: 15px;
}

.my-custom-account .woocommerce-MyAccount-content form {
  overflow-x: hidden;
}

.my-custom-account .woocommerce-MyAccount-content form h3 {
  font-family: var(--fontEuclidMD);
  font-size: 28px;
  line-height: 36px;
  color: var(--primaryTextcolor);
  margin: 0;
}

.my-custom-account .woocommerce-MyAccount-content .woocommerce-address-fields {
  margin-top: 20px;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  label,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm.edit-account
  p.form-row
  label {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px !important;
  color: var(--blackcolor);
  margin: 0;
  margin-bottom: 8px;
  width: unset;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  input,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  span
  input,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm.edit-account
  p.form-row
  input {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
  width: 100% !important;
  border: 1px solid #bebebe;
  border-radius: 4px;
  padding: 6px 12px;
  outline: none !important;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm.edit-account
  p.form-row
  span {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px !important;
  color: var(--blackcolor);
  font-weight: 500;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm.edit-account
  fieldset
  legend {
  font-family: var(--fontEuclidMD);
  font-size: 28px;
  line-height: 36px;
  color: var(--primaryTextcolor);
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm.edit-account
  p
  button.button {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  padding: 6px 24px !important;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-bottom: 0;
  font-weight: 500 !important;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  margin: 0;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm.edit-account
  p
  button.button:hover {
  background-color: var(--cartBtnHover);
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  input::placeholder,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  span
  input::placeholder,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm.edit-account
  p.form-row
  input::placeholder {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px !important;
  color: var(--blackcolor);
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p.form-row,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm.edit-account
  p.form-row {
  margin-bottom: 20px;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  .select2-container
  .select2-selection--single,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  .select2-container
  .select2-selection--single {
  background-color: var(--whitecolor);
  border: 1px solid #bebebe;
  border-radius: 4px;
  height: unset;
  margin: 0;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  .select2-container
  .select2-selection--single
  span.select2-selection__rendered,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  .select2-selection--single
  span.select2-selection__rendered {
  font-family: var(--fontEuclidLT) !important;
  font-size: 14px !important;
  line-height: 22px !important;
  color: var(--blackcolor) !important;
  margin: 0;
  padding: 6px 12px;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  .select2-container
  .select2-selection--single
  span.select2-selection__arrow,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  .woocommerce-address-fields__field-wrapper
  p
  .select2-container
  .select2-selection--single
  span.select2-selection__arrow {
  height: unset;
  right: 6px;
  top: 50%;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  p
  button.button {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  padding: 6px 24px !important;
  border: none;
  outline: none;
  border-radius: 50px;
  margin-bottom: 0;
  font-weight: 500 !important;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  margin: 0;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-address-fields
  p
  button.button:hover {
  background-color: var(--cartBtnHover);
  color: var(--whitecolor);
}

.my-custom-account .woocommerce-MyAccount-content .woocommerce-order-details,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-customer-details {
  margin-top: 30px;
}

.my-custom-account .woocommerce-MyAccount-content .woocommerce-order-details h2,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-customer-details
  > section
  h2 {
  font-family: var(--fontEuclidMD);
  font-size: 24px;
  line-height: 32px;
  color: var(--primaryTextcolor);
  margin: 0;
  margin-bottom: 15px;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-order-details
  table {
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-order-details
  table
  thead
  tr
  th {
  font-family: var(--fontEuclidMD);
  font-size: 20px;
  line-height: 28px;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 500;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-order-details
  table
  tbody
  tr
  td,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-order-details
  table
  tbody
  tr
  td
  a {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-order-details
  table
  tfoot
  tr
  th,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-order-details
  table
  tfoot
  tr
  td,
.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-order-details
  table
  tfoot
  tr
  td
  span {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 500;
}

.my-custom-account
  .woocommerce-MyAccount-content
  .woocommerce-customer-details
  > section
  address {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  margin-top: 15px;
  padding: 14px 16px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* save for later */

.my-custom-account table.woosl_table {
  background-color: var(--whitecolor);
  border: none;
  outline: none;
}

.my-custom-account table.woosl-products thead tr th {
  font-family: var(--fontEuclidSB);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 600;
}

.my-custom-account
  table
  tbody
  tr
  td.product-name
  .woosl-btn
  span.woosl-button {
  font-family: var(--fontEuclidLT);
  font-size: 12px;
  line-height: 20px;
  color: var(--blackcolor);
  background-color: #bebebe;
  margin: 0;
  padding: 2px 10px !important;
  border: none;
  outline: none;
  font-weight: 500 !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.my-custom-account
  table.woosl-products
  thead
  tr
  th
  a.button.woosl_add_all_to_cart_button {
  font-family: var(--fontEuclidMD);
  font-size: 12px;
  line-height: 20px;
  color: var(--whitecolor);
  background-color: var(--blackcolor);
  margin: 0;
  padding: 6px 16px !important;
  border: none;
  outline: none;
  font-weight: 500 !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

/* .my-custom-account
  table.woosl-products
  tbody
  tr
  td.woosl-product-image
  img {
  max-width: 110px;
} */

.my-custom-account table.woosl-products tbody tr td.woosl-product-name a {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  text-decoration: none;
  display: block;
  max-width: 500px;
  width: 100%;
}

.my-custom-account
  table.woosl-products
  tbody
  tr
  td.woosl-product-name
  ul {
  padding-left: 0;
}

.my-custom-account
  table.woosl-products
  tbody
  tr
  td.woosl-product-name
  ul
  li
  span {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--tertiarycolor);
  margin: 0;
}

.my-custom-account
  table.woosl-products
  tbody
  tr
  td.woosl-product-price
  ins {
  text-decoration: none;
}

.my-custom-account
  table.woosl-products
  tbody
  tr
  td.woosl-product-price
  span.woocommerce-Price-amount.amount {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--tertiarycolor);
  margin: 0;
}

.my-custom-account
  table.woosl-products
  tbody
  tr
  td.woosl-product-stock
  p {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--primaryTextcolor);
  margin: 0;
}

.my-custom-account table.woosl-products tbody tr td.woosl-product-atc a {
  font-family: var(--fontEuclidMD);
  font-size: 12px;
  line-height: 20px;
  /* color: var(--whitecolor); */
  color: var(--blackcolor);
  /* background-color: var(--blackcolor); */
  background-color: transparent;
  margin: 0;
  padding: 6px 16px !important;
  padding: 0 !important;
  border: none;
  outline: none;
  font-weight: 500 !important;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  text-align: center;
}

.my-custom-account table.woosl-products tbody tr td.woosl-product-atc a:hover {
  text-decoration: underline;
}

/* end */

@media (max-width: 991px) {
  .my-custom-account h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .my-custom-account {
    margin-top: 60px;
  }

  .my-custom-account .woocommerce-MyAccount-navigation,
  .my-custom-account .woocommerce-MyAccount-content {
    width: 100%;
  }

  .my-custom-account .woocommerce-MyAccount-navigation ul {
    width: 100%;
  }

  .my-custom-account .woocommerce-MyAccount-navigation ul li {
    padding: 12px 20px;
  }

  .my-custom-account .woocommerce-MyAccount-navigation ul li a {
    font-size: 16px;
    line-height: 24px;
  }

  .my-custom-account
    .woocommerce-MyAccount-content
    table.my_account_orders
    thead
    tr
    th,
  .my-custom-account
    .woocommerce-MyAccount-content
    table.my_account_orders
    thead
    tr
    th
    span {
    font-size: 16px;
    line-height: 24px;
  }

  .my-custom-account
    .woocommerce-MyAccount-content
    table.my_account_orders
    tbody
    tr
    td,
  .my-custom-account
    .woocommerce-MyAccount-content
    table.my_account_orders
    tbody
    tr
    td
    a {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 768px) {
  .my-custom-account {
    margin-top: 40px;
  }

  .my-custom-account h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .my-custom-account .woocommerce-MyAccount-navigation ul li a {
    font-size: 14px;
    line-height: 22px;
  }

  .woocommerce table.shop_table_responsive tbody tr td::before,
  .woocommerce-page table.shop_table_responsive tbody tr td::before {
    font-family: var(--fontEuclidMD);
    font-size: 16px;
    line-height: 24px;
    color: var(--blackcolor);
    font-weight: 500;
  }

  .my-custom-account
    .woocommerce-MyAccount-content
    table.my_account_orders
    tbody
    tr
    td
    a.view {
    padding: 4px 20px !important;
  }

  .my-custom-account .woocommerce-MyAccount-content .woocommerce .col2-set,
  .woocommerce-page .col2-set {
    margin-top: 20px;
  }

  .my-custom-account .woocommerce-MyAccount-content .woocommerce .col2-set,
  .woocommerce-page .col2-set h3,
  .my-custom-account
    .woocommerce-MyAccount-content
    .woocommerce-EditAccountForm.edit-account
    fieldset
    legend,
  .my-custom-account .woocommerce-MyAccount-content form h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .my-custom-account .col2-set .u-column2.col-2.woocommerce-Address {
    margin-top: 20px;
  }

  .my-custom-account
    table.woosl-products
    tbody
    tr
    td.woosl-product-name
    a {
    max-width: unset;
  }

  .my-custom-account table.woosl_table thead tr th {
    display: flex;
    justify-content: space-between;
  }

  .my-custom-account
    table.woosl-products
    tbody
    tr
    td.woosl-product-remove::before {
    display: none;
  }

  .my-custom-account
    table.woosl-products
    tbody
    tr
    td.woosl-product-image::before {
    display: none;
  }

  .my-custom-account
    table.woosl-products
    tbody
    tr
    td.woosl-product-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .my-custom-account
    table.woosl-products
    tbody
    tr
    td.woosl-product-image
    img {
    max-width: 110px;
  }

  .my-custom-account
    form.woocommerce-cart-form
    table
    tbody
    tr
    button.button.woosl-btn-all {
    margin-top: 10px;
  }

  .my-custom-account
    table.woosl-products
    tbody
    tr
    td.woosl-product-name
    a {
    font-size: 16px;
    line-height: 24px;
  }

  .my-custom-account table.woosl_table thead tr th {
    display: flex;
    justify-content: space-between;
  }

  .my-custom-account
    table.woosl-products
    tbody
    tr
    td.woosl-product-remove::before {
    display: none;
  }

  .my-custom-account
    table.woosl-products
    tbody
    tr
    td.woosl-product-image::before {
    display: none;
  }

  .my-custom-account
    table.woosl-products
    tbody
    tr
    td.woosl-product-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .my-custom-account
    table.woosl-products
    tbody
    tr
    td.woosl-product-image
    img {
    max-width: 110px;
  }
}
