.privacy-policy-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-policy-banner .container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-policy-banner h2 {
  font-family: var(--fontEuclidMD);
  font-size: 52px;
  line-height: 60px;
  letter-spacing: -0.6px;
  color: var(--blackcolor);
  text-align: center;
  margin: 0;
}

.privacy-policy-data .nav button.nav-link {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  text-align: left;
  background: transparent;
  padding: 10px 12px;
}

.privacy-policy-data .nav button.nav-link span {
  display: inline-block;
  position: relative;
}

.privacy-policy-data .nav button.nav-link span::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: currentcolor;
  transition: -webkit-transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
  transition: transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
  transition: transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1),
    -webkit-transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.privacy-policy-data .nav button.nav-link span:hover::after {
  transition: -webkit-transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
  transition: transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
  transition: transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1),
    -webkit-transform 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.privacy-policy-data .nav button.nav-link.active span::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.privacy-policy-data .tab-content .tab-pane h1 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--blackcolor);
}

.privacy-policy-data h4 {
  font-family: var(--fontEuclidMD);
  font-size: 28px;
  line-height: 36px;
  color: var(--blackcolor);
}

.privacy-policy-data .tab-content .tab-pane h2 {
  font-family: var(--fontEuclidMD);
  font-size: 24px;
  line-height: 32px;
  color: var(--blackcolor);
}

.privacy-policy-data .tab-content .tab-pane h3 {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
}

.privacy-policy-data .tab-content .tab-pane p {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
}

.privacy-policy-data .tab-content .tab-pane ol li,
.privacy-policy-data .tab-content .tab-pane ul li {
  font-family: var(--fontEuclid);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
}

.privacy-policy-data .tab-content .tab-pane ol li:not(:last-child),
.privacy-policy-data .tab-content .tab-pane ul li:not(:last-child) {
  margin-bottom: 12px;
}

.privacy-policy-data .tab-content .tab-pane strong {
  font-weight: 600;
}

@media (max-width: 991px) {
  .privacy-policy-banner h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .privacy-policy-data .nav button.nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .privacy-policy-data .col-lg-9 {
    margin-top: 40px;
  }

  .privacy-policy-data .tab-content .tab-pane h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .privacy-policy-data .tab-content .tab-pane h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .privacy-policy-banner h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
