.woocommerce div.product {
  margin-top: 30px;
}

.woocommerce div.product .product_title {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--blackcolor);
  margin: 0;
  margin-top: 10px;
}

.woocommerce div.product p.price {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
  margin-top: 20px;
  font-weight: 500;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
  opacity: 1;
}

.woocommerce div.product p.price del span.amount span {
  color: var(--blackcolor);
}

.woocommerce div.product p.price ins {
  text-decoration: none;
  font-weight: 500;
}

.woocommerce div.product p.price ins span {
  color: var(--pricecolor);
}

.woocommerce div.product p.stock {
  display: none;
}

.woocommerce div.product form.cart {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 30px;
}

.woocommerce div.product form.variations_form {
  display: block;
}

/* variations form */

.woocommerce div.product form.variations_form table.variations {
  margin: 0;
  margin-bottom: 1em;
}

.woocommerce
  div.product
  form.variations_form
  table.variations
  tbody
  tr
  th.label
  label {
  width: unset !important;
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px !important;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 500;
}

.woocommerce
  div.product
  form.variations_form
  table.variations
  tbody
  tr
  th.label
  span {
  width: unset !important;
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px !important;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 300;
}

.woocommerce
  div.product
  form.variations_form
  table.variations
  tbody
  tr
  td.value.woo-variation-items-wrapper {
  margin-top: 15px;
}

.woocommerce
  div.product
  form.variations_form
  table.variations
  tbody
  tr
  td.value.woo-variation-items-wrapper
  a {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  margin: 0;
  text-decoration: none;
}

.woocommerce
  div.product
  form.variations_form
  div.single_variation_wrap
  > .woocommerce-variation
  .woocommerce-variation-price
  span.price {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
  margin-top: 20px;
  font-weight: 500;
}

.woocommerce
  div.product
  form.variations_form
  div.single_variation_wrap
  > .woocommerce-variation
  .woocommerce-variation-price
  del
  span.amount
  span {
  color: var(--blackcolor);
}

.woocommerce
  div.product
  form.variations_form
  div.single_variation_wrap
  > .woocommerce-variation
  .woocommerce-variation-price
  ins {
  text-decoration: none;
  font-weight: 500;
}

.woocommerce
  div.product
  form.variations_form
  div.single_variation_wrap
  > .woocommerce-variation
  .woocommerce-variation-price
  ins
  span {
  color: var(--pricecolor);
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: var(--blackcolor);
}

.woocommerce
  div.product
  form.variations_form
  div.single_variation_wrap
  .woocommerce-variation-add-to-cart {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.woocommerce
  div.product
  form.variations_form
  div.single_variation_wrap
  .woocommerce-variation-add-to-cart
  button.minus {
  order: 1;
}

.woocommerce
  div.product
  form.variations_form
  div.single_variation_wrap
  .woocommerce-variation-add-to-cart
  .quantity {
  order: 2;
}

.woocommerce
  div.product
  form.variations_form
  div.single_variation_wrap
  .woocommerce-variation-add-to-cart
  button.plus {
  order: 3;
}

.woocommerce
  div.product
  form.variations_form
  div.single_variation_wrap
  .woocommerce-variation-add-to-cart
  button.button {
  order: 4;
}

/* end */

.woocommerce div.product form.cart .button {
  width: 60% !important;
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--whitecolor);
  background-color: var(--primaryTextcolor);
  margin: 0;
  padding: 10px 0;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  margin-left: 20px;
}

.woocommerce div.product form.cart .button:hover {
  background-color: var(--cartBtnHover);
}

.woocommerce div.product form.cart .minus,
.woocommerce div.product form.cart .plus {
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  width: 48px;
  height: 48px;
  background-color: var(--whitecolor);
  border: none;
  outline: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.woocommerce div.product form.cart div.quantity {
  margin: 0;
}

.woocommerce div.product form.cart div.quantity label {
  width: unset;
}

.woocommerce div.product form.cart .quantity input {
  width: 64px;
  height: 48px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
}

.woocommerce div.product .woocommerce-product-rating {
  display: inline-block;
  margin: 0;
  float: right;
}

.woocommerce div.product .woocommerce-product-rating a {
  font-family: var(--fontEuclidMD);
  font-size: 14px;
  line-height: 22px;
  color: var(--tertiarycolor);
  text-decoration: none;
}

.woocommerce div.product div.summary .product_meta {
  display: inline-block;
}

.woocommerce div.product div.summary .product_meta span.posted_in {
  display: none;
}

.woocommerce div.product div.summary .product_meta span {
  font-family: var(--fontEuclidMD);
  font-size: 12px;
  line-height: 20px;
  color: var(--tertiarycolor);
}

.products-description-faq {
  margin-top: 30px;
  background-color: transparent;
}

.woocommerce div.product span.onsale {
  display: none;
}

.products-description-faq .accordion-item,
.products-description-faq .accordion-item h5 button {
  background-color: transparent;
  border: 0;
}

.products-description-faq .accordion-item h5 button {
  font-family: var(--fontEuclidMD);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
}

.products-description-faq .accordion-item h5 button:focus {
  box-shadow: none;
}

.products-description-faq
  .accordion-item
  h5
  button.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

.products-description-faq .accordion-item {
  border-bottom: 1px solid #e4e4e4;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.products-description-faq .accordion-item:first-child {
  border-top: 1px solid #e4e4e4;
}

.products-description-faq .accordion-item .accordion-body ul,
.products-description-faq .accordion-item .accordion-body ol {
  margin: 0;
  padding-left: 1.5rem;
}

.products-description-faq .accordion-item .accordion-body p,
.products-description-faq .accordion-item .accordion-body ul li,
.products-description-faq .accordion-item .accordion-body ol li {
  font-family: var(--fontEuclid);
  font-size: 16px;
  line-height: 24px;
  color: var(--tertiarycolor);
  margin: 0;
}

.product-bundle-section {
  background-color: var(--whitecolor);
  margin-top: 80px;
  padding: 80px 0;
}

.product-bundle-section h4 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--blackcolor);
  margin: 0;
}

/* .product-bundle-section .row:first-child {
  margin-bottom: 50px;
} */

.product-bundle-section .row .col-lg-3 {
  margin-top: 60px;
}

.product-bundle-section .row .col-lg-3 p {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.product-video-section {
  padding: 80px 0;
}

.product-video-section .y-video {
  aspect-ratio: 16/9;
}

.product-video-section .y-video iframe {
  width: 100%;
  height: 100%;
}

.product-banner-section {
  /* width: 100%;
  height: 100%;
  background-image: url("../images/banner.jpg");
  min-height: 800px;
  display: flex;
  align-items: center; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-banner-section .container {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

.product-banner-section .pb-content {
  max-width: 525px;
}

.product-banner-section .pb-content h4 {
  font-family: var(--fontEuclidMD);
  font-size: 36px;
  line-height: 44px;
  color: var(--blackcolor);
  margin: 0;
}

.product-banner-section .pb-content p {
  font-family: var(--fontEuclidLT);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
  margin-top: 10px;
}

.product-slider-section {
  margin-top: 80px;
  overflow-x: hidden;
}

.product-slider-section h4 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--blackcolor);
  margin: 0;
}

.product-slider-section h6 {
  font-family: var(--fontEuclidMD);
  font-size: 20px;
  line-height: 28px;
  color: var(--blackcolor);
  margin: 0;
  margin-top: 20px;
}

.product-slider-section .row:nth-child(2) {
  margin-top: 20px;
}

.product-slider-section .projectGallery-slides .slick-list {
  padding-left: 0px !important;
  margin: 0 -10px;
  overflow: visible;
}

.product-slider-section .projectGallery-slides .slick-slide {
  margin: 0 10px;
}

.product-slider-section .projectGallery-slides .slick-next,
.product-slider-section .projectGallery-slides .slick-prev {
  top: -40px;
  background: var(--blackcolor);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-slider-section .projectGallery-slides .slick-next {
  right: 0;
}

.product-slider-section .projectGallery-slides .slick-prev {
  right: 130px !important;
  left: auto;
}

.product-slider-section .projectGallery-slides .slick-next::before,
.product-slider-section .projectGallery-slides .slick-prev::before {
  content: url("http://cricut.test/wp-content/uploads/2023/08/slider-arrowl-1.svg");
  width: 100%;
  display: block;
}

.product-slider-section .projectGallery-slides .slick-prev::before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/**
 *  Progress Bar
 */

.progress {
  display: block;
  max-width: 400px;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  overflow: hidden;

  background-color: #f5f5f5;
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0 100%;

  transition: background-size 0.4s ease-in-out;
  margin-top: 40px;
  margin-left: auto;
}

/**
 *  Demo Styles from the Slick Slider
 *  website
 */

/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
} */

.product-highlight-item-section {
  margin-top: 160px;
}

.product-highlight-item-section ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  gap: 8%;
  flex-flow: row nowrap;
  margin: 0;
  padding-left: 0;
}

.product-highlight-item-section ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 240px;
  width: 100%;
  align-self: flex-start;
  padding: 0 20px;
}

.product-highlight-item-section ul li svg {
  margin: 0 auto;
}

.product-highlight-item-section ul li p {
  font-family: var(--fontEuclidMD);
  font-size: 22px;
  line-height: 30px;
  color: var(--blackcolor);
  margin: 0;
}

.product-app-section {
  margin-top: 200px;
  position: relative;
  overflow-x: hidden;
}

.product-app-section .app-background-image {
  padding: 0 70px;
}

/* .product-app-section .container .row .col-12 {
  position: relative;
} */

.product-app-section .app-background-image {
  /* position: absolute;
  left: 0;
  top: 0;
  z-index: 0; */
  width: 100%;
  height: 100%;
}

.product-app-section .app-content {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* padding: 5rem; */
}

.product-app-section .app-content div {
  max-width: 490px;
}

.product-app-section .app-content div h4 {
  font-family: var(--fontEuclidMD);
  font-size: 36px;
  line-height: 44px;
  color: var(--blackcolor);
  margin: 0;
}

.product-app-section .app-content div p {
  font-family: var(--fontEuclid);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
  margin-top: 10px;
}

.product-faq-section {
  background-color: var(--whitecolor);
  margin-top: 80px;
  padding: 120px 0;
}

.product-faq-section h4 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--blackcolor);
  margin: 0;
}

.product-faq-section .accordion {
  border: none;
}

.product-faq-section .accordion .accordion-item {
  border: none;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.product-faq-section
  .accordion
  .accordion-item
  .accordion-button:not(.collapsed) {
  color: var(--blackcolor);
  background-color: transparent;
  box-shadow: none;
}

.product-faq-section .accordion .accordion-item .accordion-button {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
  padding-left: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  box-shadow: none;
}

.product-faq-section .accordion .accordion-item .accordion-body {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  padding-left: 0;
  padding-top: 0;
}

.product-faq-section
  .accordion-item
  h5
  button.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

.product-grid-section {
  margin-top: 80px;
}

.product-grid-section .grid-m {
  columns: 3;
  column-gap: 20px;
}

.product-grid-section .grid-m img {
  margin-bottom: 20px;
}

.product-grid-section .grid-m img {
  display: none;
}

.product-grid-section .grid-m img:nth-child(1),
.product-grid-section .grid-m img:nth-child(2),
.product-grid-section .grid-m img:nth-child(3),
.product-grid-section .grid-m img:nth-child(4),
.product-grid-section .grid-m img:nth-child(5),
.product-grid-section .grid-m img:nth-child(6) {
  display: block;
}

.product-grid-section .grid-m img {
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
}

.product-grid-section h4 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--blackcolor);
  margin: 0;
}

.product-grid-section .row:nth-child(2) {
  margin-top: 40px;
}

.woocommerce-tabs.wc-tabs-wrapper .tabs.wc-tabs {
  display: none;
}

.woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel {
  padding-top: 80px;
}

.woocommerce #reviews #comments h2 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce #reviews #comments p.woocommerce-noreviews {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce #reviews #comments ol.commentlist {
  margin-top: 40px;
  padding-left: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  padding: 0;
  padding: 15px 20px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
  font-family: var(--fontEuclidMD);
  font-size: 22px;
  line-height: 30px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .description {
  margin-top: 30px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .description p {
  font-family: var(--fontEuclidLT);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce #reviews #review_form_wrapper {
  margin-top: 20px;
}

.woocommerce #reviews #review_form_wrapper div div span#reply-title,
.woocommerce #reviews #review_form_wrapper form .comment-form-rating label {
  font-family: var(--fontEuclidLT);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce #reviews #review_form_wrapper form .comment-form-rating label {
  margin-bottom: 5px;
}

.woocommerce #reviews #review_form_wrapper div div span#reply-title {
  font-family: var(--fontEuclidMD);
  font-size: 28px;
  line-height: 36px;
  color: var(--primaryTextcolor);
}

.woocommerce #reviews #review_form_wrapper form {
  margin-top: 15px;
}

.woocommerce p.stars {
  margin: 0;
  margin: 10px 0;
}

.woocommerce p.stars a::before {
  color: var(--blackcolor);
}

.woocommerce p.stars a {
  color: var(-blackcolor);
}

.woocommerce #review_form #respond p.comment-form-comment label,
.woocommerce #review_form #respond p.comment-form-author label,
.woocommerce #review_form #respond p.comment-form-email label {
  font-family: var(--fontEuclidLT);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce #review_form #respond p.comment-form-author label,
.woocommerce #review_form #respond p.comment-form-email label {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce #review_form #respond p.comment-form-cookies-consent label {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  margin: 0;
  width: unset;
}

.woocommerce #review_form #respond p.form-submit {
  margin-top: 20px;
}

.woocommerce #review_form #respond p.comment-form-author label,
.woocommerce #review_form #respond p.comment-form-email label {
  width: unset;
  min-width: 70px;
  margin-right: 10px;
}

.woocommerce #review_form #respond p.comment-form-comment textarea {
  font-family: var(--fontEuclidLT);
  font-size: 14px;
  line-height: 22px;
  color: var(--blackcolor);
  margin: 0;
  padding: 12px 8px;
  margin-top: 10px;
  outline: none;
  border: 1px solid #bebebe;
  border-radius: 4px;
}

.woocommerce #review_form #respond p.comment-form-author input,
.woocommerce #review_form #respond p.comment-form-email input {
  width: unset !important;
  font-family: var(--fontEuclidLT) !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--blackcolor) !important;
  margin: 0;
  padding: 6px 8px;
  margin-top: 10px;
  outline: none;
  border: 1px solid #bebebe;
  border-radius: 4px;
}

.woocommerce #review_form #respond .form-submit input {
  width: unset !important;
  display: inline-block;
  font-family: var(--fontEuclidMD) !important;
  font-size: 15px !important;
  line-height: 22px !important;
  color: var(--whitecolor) !important;
  text-align: center;
  background-color: var(--primaryTextcolor);
  border-radius: 100px;
  padding: 11px 22px;
  text-decoration: none;
  transition: 0.2s ease-in all;
  -webkit-transition: 0.2s ease-in all;
  -moz-transition: 0.2s ease-in all;
  -ms-transition: 0.2s ease-in all;
  -o-transition: 0.2s ease-in all;
  font-weight: 500;
  outline: none;
  border: none;
}

.woocommerce #review_form #respond .form-submit input:hover {
  background-color: var(--cartBtnHover);
}

/* social share icons */

ul.psfw-social-icons li a {
  border: 1px solid var(--primaryTextcolor);
}

.psfw-social-wrap ul li a i:before {
  color: var(--primaryTextcolor);
}

/* end */

/* upsells product css */

.up-sells.upsells.products ul.products,
.related.products ul.products {
  margin-top: 30px;
}

.up-sells.upsells.products h2,
.related.products h2 {
  font-family: var(--fontEuclidMD);
  font-size: 32px;
  line-height: 40px;
  color: var(--blackcolor);
  margin: 0;
}

/* end */

@media (max-width: 1500px) {
  .product-app-section .app-background-image {
    padding: 0 0;
  }

  .product-app-section .app-content {
    padding: 5rem;
  }
}

@media (max-width: 1399px) {
  .product-app-section .app-content {
    padding: 0;
  }
}

@media (max-width: 991px) {
  #wpgs-gallery.woocommerce-product-gallery {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    margin-right: 30px !important;
  }

  .woocommerce div.product div.summary {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  .woocommerce div.product .product_title {
    font-size: 28px;
    line-height: 36px;
    margin-top: 15px;
  }

  .product-bundle-section {
    margin-top: 60px;
    padding: 60px 0;
  }

  .product-bundle-section h4 {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }

  .product-bundle-section .row .col-lg-3 {
    margin-top: 40px;
  }

  .product-video-section {
    padding: 60px 0;
  }

  .product-slider-section {
    margin-top: 60px;
  }

  .product-banner-section .pb-content h4 {
    font-size: 32px;
    line-height: 40px;
  }

  .product-slider-section h4,
  .product-grid-section h4,
  .product-app-section .app-content div h4,
  .product-faq-section h4,
  .woocommerce #reviews #comments h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .product-slider-section h6,
  .woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 18px;
    line-height: 26px;
  }

  .product-grid-section {
    margin-top: 60px;
  }

  .product-grid-section .row:nth-child(2) {
    margin-top: 30px;
  }

  .product-grid-section .grid-m {
    columns: 2;
    column-gap: 10px;
  }

  .product-grid-section .grid-m img {
    margin-bottom: 10px;
  }

  .product-grid-section .row:last-child {
    margin-top: 15px;
  }

  .product-highlight-item-section {
    margin-top: 120px;
  }

  .product-highlight-item-section ul {
    flex-wrap: wrap;
  }

  .product-highlight-item-section ul li {
    max-width: 280px;
  }

  .product-highlight-item-section ul li:nth-child(1),
  .product-highlight-item-section ul li:nth-child(2) {
    margin-bottom: 60px;
  }

  .product-app-section {
    margin-top: 150px;
  }

  .product-app-section .app-content div {
    max-width: 310px;
  }

  .product-app-section .app-content div p {
    font-size: 16px;
    line-height: 24px;
  }

  .product-faq-section {
    margin-top: 60px;
    padding: 80px 0;
  }

  .product-faq-section .row .col-lg-8 {
    margin-top: 20px;
  }

  .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel {
    padding-top: 60px;
  }

  .up-sells.upsells.products h2,
  .related.products h2 {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .woocommerce div.product {
    margin-top: 20px;
  }

  .woocommerce div.product .product_title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 40px;
  }

  .woocommerce div.product form.cart .button {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-top: 20px;
    width: 100% !important;
  }

  .woocommerce div.product form.cart,
  .woocommerce
    div.product
    form.variations_form
    div.single_variation_wrap
    .woocommerce-variation-add-to-cart {
    flex-wrap: wrap;
  }

  .woocommerce
    div.product
    form.variations_form
    table.variations
    tbody
    tr
    td.value.woo-variation-items-wrapper {
    margin-top: 10px;
  }

  .woocommerce div.product div.summary {
    margin-bottom: 0;
  }

  .product-bundle-section h4 {
    font-size: 24px;
    line-height: 32px;
  }

  .product-bundle-section .row .col-lg-3 {
    margin-top: 30px;
  }

  .product-bundle-section,
  .product-video-section {
    padding: 50px 0;
  }

  .product-banner-section .container {
    align-items: end;
    padding-bottom: 40px;
  }

  .product-banner-section .pb-content h4 {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }

  .product-banner-section .pb-content p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  .product-banner-section .pb-content {
    padding: 0 20px;
  }

  .product-slider-section h4,
  .product-grid-section h4,
  .product-app-section .app-content div h4,
  .product-faq-section h4,
  .woocommerce #reviews #comments h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 18px;
    line-height: 26px;
  }

  .woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0;
  }

  .woocommerce #reviews #comments ol.commentlist li .comment-text .description {
    margin-top: 20px;
  }

  .woocommerce
    #reviews
    #comments
    ol.commentlist
    li
    .comment-text
    .description
    p,
  .woocommerce #reviews #review_form_wrapper div div span#reply-title,
  .woocommerce #reviews #review_form_wrapper form .comment-form-rating label,
  .woocommerce #review_form #respond p.comment-form-comment label {
    font-size: 16px;
    line-height: 24px;
  }

  .woocommerce #reviews #review_form_wrapper div div span#reply-title {
    font-size: 24px;
    line-height: 32px;
  }

  .product-slider-section {
    margin-top: 50px;
  }

  .product-slider-section .projectGallery-slides .slick-next,
  .product-slider-section .projectGallery-slides .slick-prev {
    display: none !important;
  }

  /* .product-slider-section .projectGallery-slides .slick-next::before {
    content: url("http://cricut.test/wp-content/uploads/2023/08/slider-arrowl.svg") !important;
  } */

  .product-slider-section h6 {
    font-size: 16px;
    line-height: 24px;
  }

  .product-highlight-item-section {
    margin-top: 80px;
  }

  .product-highlight-item-section ul li p {
    font-size: 20px;
    line-height: 28px;
  }

  .product-highlight-item-section ul li:nth-child(1),
  .product-highlight-item-section ul li:nth-child(2) {
    margin-bottom: 0;
  }

  .product-highlight-item-section ul li:not(:last-child) {
    margin-bottom: 50px;
  }

  .product-app-section {
    margin-top: 100px;
  }

  .product-app-section .app-content {
    top: 15%;
    padding: 0 25px;
  }

  .product-app-section .app-content div {
    max-width: 100%;
    padding-right: 25px;
  }

  .product-app-section .app-content div h4 {
    text-align: center;
  }

  .product-app-section .app-content div p {
    text-align: center;
  }

  .product-app-section {
    overflow: hidden;
  }

  .product-faq-section {
    margin-top: 60px;
    padding: 50px 0;
  }

  .product-faq-section .accordion .accordion-item .accordion-button {
    font-size: 16px;
    line-height: 24px;
  }

  .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel {
    padding-top: 50px;
  }

  .up-sells.upsells.products h2,
  .related.products h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
