.woocommerce-order {
  padding-top: 40px;
}

.woocommerce-order p {
  font-family: var(--fontEuclidMD);
  font-size: 28px;
  line-height: 36px;
  color: var(--primaryTextcolor);
  margin: 0;
}

.woocommerce-order ul.order_details {
  padding-left: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.woocommerce-order ul.order_details li {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  padding: 0;
  float: none;
  border-right: 1px solid #bebebe;
  text-transform: unset;
  border-right: 0;
}

.woocommerce-order ul.order_details li strong {
  display: inline;
  font-size: 16px;
  line-height: 24px;
}

.woocommerce-order ul.order_details li:not(:last-child) {
  margin-bottom: 8px;
}

.woocommerce .woocommerce-order-details,
.woocommerce .woocommerce-customer-details {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 30px;
}

.woocommerce .woocommerce-customer-details > .woocommerce-columns {
  margin-top: 0;
}

.woocommerce .woocommerce-order-details h2,
.woocommerce .woocommerce-customer-details h2 {
  font-family: var(--fontEuclidMD);
  font-size: 28px;
  line-height: 36px;
  color: var(--blackcolor);
  margin: 0;
  margin-bottom: 15px;
}

.woocommerce .woocommerce-order-details table {
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.woocommerce .woocommerce-order-details table thead tr th {
  font-family: var(--fontEuclidMD);
  font-size: 22px;
  line-height: 30px;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 500;
}

.woocommerce .woocommerce-order-details table tbody tr td,
.woocommerce .woocommerce-order-details table tbody tr td a {
  font-family: var(--fontEuclidLT);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
}

.woocommerce .woocommerce-order-details table tfoot tr th,
.woocommerce .woocommerce-order-details table tfoot tr td,
.woocommerce .woocommerce-order-details table tfoot tr span,
.woocommerce .woocommerce-order-details table tfoot tr label {
  font-family: var(--fontEuclidMD);
  font-size: 18px;
  line-height: 26px;
  color: var(--blackcolor);
  margin: 0;
  font-weight: 500;
}

.woocommerce .woocommerce-customer-details address {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
  padding: 14px 16px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.woocommerce .woocommerce-customer-details p {
  font-family: var(--fontEuclidLT);
  font-size: 16px;
  line-height: 24px;
  color: var(--blackcolor);
  margin: 0;
}

@media (max-width: 991px) {
  .woocommerce-order {
    padding-top: 30px;
  }

  .woocommerce
    .woocommerce-customer-details
    section
    div.woocommerce-column--shipping-address {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .woocommerce-order {
    padding-top: 20px;
  }

  .woocommerce-order p,
  .woocommerce .woocommerce-order-details h2,
  .woocommerce .woocommerce-customer-details h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .woocommerce-order ul.order_details {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .woocommerce .woocommerce-order-details,
  .woocommerce .woocommerce-customer-details {
    margin-top: 20px;
  }

  .woocommerce .woocommerce-order-details h2,
  .woocommerce .woocommerce-customer-details h2,
  .woocommerce .woocommerce-order-details table thead tr th {
    font-size: 20px;
    line-height: 28px;
  }

  .woocommerce .woocommerce-order-details table tbody tr td,
  .woocommerce .woocommerce-order-details table tbody tr td a,
  .woocommerce .woocommerce-order-details table tfoot tr th, .woocommerce .woocommerce-order-details table tfoot tr td, .woocommerce .woocommerce-order-details table tfoot tr span, .woocommerce .woocommerce-order-details table tfoot tr label {
    font-size: 16px;
    line-height: 24px;
  }
}
